# # Question

Q1.Analysie Account dataframe
Q2. track down active deals

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Loading Dataset
accounts=pd.read_csv('Dataset/Accounts.csv')
account_properties=pd.read_csv('Dataset/Accounts_properties.csv')
deals=pd.read_csv('Dataset/Deals_to_Properties.csv')
opportunities =pd.read_csv('Dataset/Opportunities.csv')
properties = pd.read_csv('Dataset/Properties.csv')
test_data= pd.read_csv('Dataset/Test_Data.csv')

# Data Analysis

In [3]:
accounts.count()

id_accs                          2756
active_deals                     2756
activity_count                   2756
buyer_book                       2756
servicing_contract               2756
investor_type                    2735
cmbs                             2756
consultant                       2756
correspondent                    2756
foreign                          2756
master_servicer                  2756
lender_book                      2756
loan_sales_book                  2756
loan_servicing                   2756
num_deals_as_client              2756
num_deals_as_investor            2756
number_of_properties             2756
number_of_related_deals          2756
number_of_related_properties     2756
number_of_won_deals_as_client    2756
dtype: int64

In [4]:
accounts.isnull().sum()

id_accs                           0
active_deals                      0
activity_count                    0
buyer_book                        0
servicing_contract                0
investor_type                    21
cmbs                              0
consultant                        0
correspondent                     0
foreign                           0
master_servicer                   0
lender_book                       0
loan_sales_book                   0
loan_servicing                    0
num_deals_as_client               0
num_deals_as_investor             0
number_of_properties              0
number_of_related_deals           0
number_of_related_properties      0
number_of_won_deals_as_client     0
dtype: int64

In [5]:
account_properties.count()

id          70350
id_deals    70350
id_accs     70350
id_props    70350
dtype: int64

In [6]:
account_properties.isnull().sum()

id          0
id_deals    0
id_accs     0
id_props    0
dtype: int64

In [7]:
deals.count()

id             25820
createdbyid    25820
id_deals       25820
id_props       25820
dtype: int64

In [8]:
deals.isnull().sum()

id             0
createdbyid    0
id_deals       0
id_props       0
dtype: int64

In [9]:
properties.count()

id_props                 18298
building_status          10081
building_tax_expenses     9555
id_deals                 18298
city                     18298
class                    11350
county                   18298
sale_status              18105
portfolio                18298
market                   18297
num_buildings            10748
num_floors               13626
num_parking_spaces        7830
occupancy_rate           14246
price_per_sq_ft          11861
price_per_unit            5677
property_type_1          17987
region__c                18293
sale_amount__c           11858
sale_date__c             12205
size_acres               13944
size_sf                  16730
size_units                8239
year_built               16440
dtype: int64

In [10]:
properties.isnull().sum()

id_props                     0
building_status           8217
building_tax_expenses     8743
id_deals                     0
city                         0
class                     6948
county                       0
sale_status                193
portfolio                    0
market                       1
num_buildings             7550
num_floors                4672
num_parking_spaces       10468
occupancy_rate            4052
price_per_sq_ft           6437
price_per_unit           12621
property_type_1            311
region__c                    5
sale_amount__c            6440
sale_date__c              6093
size_acres                4354
size_sf                   1568
size_units               10059
year_built                1858
dtype: int64

In [11]:
opportunities.count()

id_deals            26029
id_accs             26029
accounting_date     25516
best_initial_bid    25028
id_deals.1          26029
closedate           26029
date_closed         25525
deal_type           26023
deal_update_flag    26029
debt_yield          13851
fiscal              26029
fiscalquarter       26029
fiscalyear          26029
platform            26023
property_group      26027
property_type       26027
dtype: int64

In [12]:
opportunities.isnull().sum()

id_deals                0
id_accs                 0
accounting_date       513
best_initial_bid     1001
id_deals.1              0
closedate               0
date_closed           504
deal_type               6
deal_update_flag        0
debt_yield          12178
fiscal                  0
fiscalquarter           0
fiscalyear              0
platform                6
property_group          2
property_type           2
dtype: int64

In [13]:
opportunities.head()

,id_deals,id_accs,accounting_date,best_initial_bid,id_deals.1,closedate,date_closed,deal_type,deal_update_flag,debt_yield,fiscal,fiscalquarter,fiscalyear,platform,property_group,property_type
0,0062A00000moF1LQAU,0012A000023XvIOQA0,NaN,NaN,0062A00000moF1LQAU,8/12/2005,8/18/2005 0:00,Fixed-rate,True,NaN,2005 3,3,2005,Debt,Healthcare,Healthcare
1,0062A00000moF9LQAU,0012A000023YFe1QAG,NaN,NaN,0062A00000moF9LQAU,2/6/2012,6/27/2012 12:00,Fixed-rate,True,NaN,2012 1,1,2012,Debt,Healthcare,Biotech
2,0062A00000moGodQAE,0012A000023YEDcQAO,8/12/2004,NaN,0062A00000moGodQAE,11/24/2003,8/11/2004 0:00,Construction Loan,True,NaN,2003 4,4,2003,Debt,Healthcare,Biotech
3,0062A00000moBTHQA2,0012A000023YA3nQAG,NaN,NaN,0062A00000moBTHQA2,2/10/2006,4/19/2006 0:00,Fixed-rate,True,NaN,2006 1,1,2006,Debt,Healthcare,Healthcare
4,0062A00000mo8OjQAI,0012A000023XpRUQA0,NaN,NaN,0062A00000mo8OjQAI,7/13/2006,11/16/2006 0:00,Fixed-rate,True,NaN,2006 3,3,2006,Debt,Healthcare,Healthcare

In [14]:
accounts.ftypes

id_accs                          object:dense
active_deals                      int64:dense
activity_count                    int64:dense
buyer_book                         bool:dense
servicing_contract                 bool:dense
investor_type                    object:dense
cmbs                               bool:dense
consultant                         bool:dense
correspondent                      bool:dense
foreign                            bool:dense
master_servicer                    bool:dense
lender_book                        bool:dense
loan_sales_book                    bool:dense
loan_servicing                     bool:dense
num_deals_as_client               int64:dense
num_deals_as_investor             int64:dense
number_of_properties              int64:dense
number_of_related_deals           int64:dense
number_of_related_properties      int64:dense
number_of_won_deals_as_client     int64:dense
dtype: object

In [15]:
investor_type= accounts.investor_type.unique()
investor_type_mapping = {investor_type[row]:row for row in range(len(investor_type))}

In [16]:
accounts.investor_type=accounts.investor_type.apply(lambda x :investor_type_mapping[x])

In [17]:
accounts.head(10)

,id_accs,active_deals,activity_count,buyer_book,servicing_contract,investor_type,cmbs,consultant,correspondent,foreign,master_servicer,lender_book,loan_sales_book,loan_servicing,num_deals_as_client,num_deals_as_investor,number_of_properties,number_of_related_deals,number_of_related_properties,number_of_won_deals_as_client
0,0012A000023XlCCQA0,1,2367,True,False,0,False,False,False,False,False,False,False,False,0,1,1,2,1,0
1,0012A000023XmOxQAK,9,7974,True,False,1,False,False,False,False,False,True,True,False,7,2,77,18,85,7
2,0012A000023YLqwQAG,891,50161,True,True,2,False,False,False,False,False,True,True,False,40,851,693,996,1167,37
3,0012A000023XlNjQAK,34,14631,True,False,3,True,False,False,True,False,True,True,False,0,34,0,45,14,0
4,0012A000023YBFRQA4,283,194195,True,False,4,False,False,False,False,False,True,True,False,63,220,393,383,591,46
5,0012A000023XlQFQA0,39,23659,True,False,5,False,False,False,False,False,False,True,False,35,4,57,64,58,32
6,0012A000023XlWaQAK,261,127948,True,False,4,False,False,False,False,False,True,True,False,40,221,138,283,276,30
7,0012A000029wI3eQAE,14,23727,True,False,0,False,False,False,False,False,True,True,False,9,5,64,40,71,7
8,0012A000023XmSVQA0,11,2405,True,False,0,False,False,False,False,False,False,False,False,10,1,2,16,2,10
9,0012A00002HqXOHQA3,372,5954,True,True,3,True,False,False,False,False,True,True,False,2,370,0,0,164,1

In [18]:
account_properties.ftypes

id          object:dense
id_deals    object:dense
id_accs     object:dense
id_props    object:dense
dtype: object

In [19]:
accounts_opportunities = pd.merge(accounts, opportunities, on='id_accs', how='inner')

In [20]:
accounts_opportunities.head()

,id_accs,active_deals,activity_count,buyer_book,servicing_contract,investor_type,cmbs,consultant,correspondent,foreign,...,date_closed,deal_type,deal_update_flag,debt_yield,fiscal,fiscalquarter,fiscalyear,platform,property_group,property_type
0,0012A000023XmOxQAK,9,7974,True,False,1,False,False,False,False,...,7/31/2014 0:00,Floating-Rate,True,8.70,2014 2,2,2014,Debt,Hotel-Lodging,Hotel/Lodging
1,0012A000023XmOxQAK,9,7974,True,False,1,False,False,False,False,...,5/24/2017 0:00,Floating-Rate,True,0.00,2016 4,4,2016,Debt,Hotel-Lodging,Hotel/Lodging
2,0012A000023XmOxQAK,9,7974,True,False,1,False,False,False,False,...,4/17/2015 0:00,Floating-Rate,True,9.50,2014 4,4,2014,Debt,Hotel-Lodging,Hotel/Lodging
3,0012A000023XmOxQAK,9,7974,True,False,1,False,False,False,False,...,3/26/2015 0:00,Floating-Rate,True,0.00,2014 4,4,2014,Debt,Hotel-Lodging,Hotel/Lodging
4,0012A000023XmOxQAK,9,7974,True,False,1,False,False,False,False,...,5/1/2014 0:00,Fixed-rate,True,9.25,2014 1,1,2014,Debt,Hotel-Lodging,Hotel/Lodging

In [21]:
{key:len(value) for key,value in accounts_opportunities.groupby('property_type')}

{'Apartments': 3789,
 'Biotech': 16,
 'Data Center': 28,
 'Day Care': 4,
 'Healthcare': 94,
 'Hotel/Lodging': 493,
 'Industrial': 834,
 'Land': 217,
 'Manufactured Home Communities': 6,
 'Mixed Use': 230,
 'Office': 3102,
 'Parking Garage': 14,
 'Promissory Note': 20,
 'Recreational/Speciality': 11,
 'Retail': 1900,
 'SFR - Attached': 112,
 'Self Storage': 91,
 'Seniors Housing': 76,
 'Unassigned': 115}

In [25]:
print("Hello bhatia")

Hello bhatia