<a href="https://colab.research.google.com/github/trailblazerakash/MachineLearning/blob/master/hdfc/model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np
%matplotlib inline

from itertools import chain
from sklearn import preprocessing, ensemble
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [0]:

import matplotlib.pyplot as plt
import seaborn as sns


from collections import Counter

from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, ExtraTreesClassifier, VotingClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV, cross_val_score, StratifiedKFold, learning_curve

sns.set(style='white', context='notebook', palette='deep')

In [11]:

train_df = pd.read_csv('/content/drive/My Drive/HDFC/d407ebe0db9a11e9/DataSet/Train.csv')
test_df=pd.read_csv('/content/drive/My Drive/HDFC/d407ebe0db9a11e9/DataSet/Test.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (746,835) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (700,731,740,752,761,789,811,820,829,841,850) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
df_dtypes = pd.DataFrame(train_df.dtypes,columns=['dtypes'])
df_dtypes['first_value'] = train_df.loc[0].values

In [0]:
df_dtypes['Null_Count'] = train_df[train_df.columns].isnull().sum()

In [6]:
df_dtypes.head()

       dtypes first_value  Null_Count
Col1   object     RIGHGSN           0
Col2    int64           1           0
Col3  float64     10867.1           0
Col4  float64     8648.34           0
Col5  float64     15766.2           0

In [7]:
df.isna().mean()

NameError: ignored

In [0]:
tdf = train_df.loc[:, train_df.isna().mean() < .25]
test_df_itm=test_df.loc[:, test_df.isna().mean() < .25]

In [0]:
test_df.shape

(20442, 2394)

In [0]:
def get_columns_count(df):
  dtype_df = df.dtypes.reset_index()
  dtype_df.columns = ["Count", "Column Type"]
  return dtype_df.groupby("Column Type").aggregate('count').reset_index()

In [14]:
get_columns_count(tdf)

  Column Type  Count
0       int64   1548
1     float64    566
2      object      1

In [15]:
get_columns_count(test_df)

  Column Type  Count
0       int64   1545
1     float64    837
2      object     12

In [9]:
dtype_df = tdf.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df.groupby("Column Type").aggregate('count').reset_index()

  Column Type  Count
0       int64   1548
1     float64    566
2      object      1

In [0]:
dtype_df.ix[:10,:]

In [0]:
unique_values_dict = {}
for col in tdf.columns:
    if col not in ["Col1","Col2"]:
        unique_value = str(np.sort(tdf[col].unique()).tolist())
        tlist = unique_values_dict.get(unique_value, [])
        tlist.append(col)
        unique_values_dict[unique_value] = tlist[:]
for unique_val, columns in unique_values_dict.items():
    print("Columns containing the unique values : ",unique_val)
    print(columns)
    print("--------------------------------------------------")

In [0]:
correlation_threshold = 0.99 #
train_integer = tdf.drop(["Col1","Col2"],axis=1)
cor = train_integer.corr()

In [17]:

cor.loc[:,:] =  np.tril(cor, k=-1)
cor = cor.stack()
correlated = cor[cor > correlation_threshold].reset_index().loc[:,['level_0','level_1']]
correlated = correlated.query('level_0 not in level_1')
correlated_array =  correlated.groupby('level_0').agg(lambda x: set(chain(x.level_0,x.level_1))).values
correlated_array

array([[{'Col946', 'Col1038'}],
       [{'Col1042', 'Col950'}],
       [{'Col982', 'Col1074'}],
       [{'Col1075', 'Col983'}],
       [{'Col108', 'Col94'}],
       [{'Col988', 'Col1080'}],
       [{'Col989', 'Col1081'}],
       [{'Col996', 'Col1088'}],
       [{'Col997', 'Col1089'}],
       [{'Col998', 'Col1090'}],
       [{'Col984', 'Col1168', 'Col1076'}],
       [{'Col1177', 'Col1085', 'Col993'}],
       [{'Col994', 'Col1086', 'Col1178'}],
       [{'Col1188', 'Col1096'}],
       [{'Col992', 'Col1084', 'Col1176', 'Col1268'}],
       [{'Col1288', 'Col1196', 'Col1104'}],
       [{'Col129', 'Col121'}],
       [{'Col1292', 'Col1200'}],
       [{'Col131', 'Col123'}],
       [{'Col1310', 'Col1326', 'Col1006'}],
       [{'Col125', 'Col133'}],
       [{'Col1022', 'Col1334'}],
       [{'Col1344', 'Col942'}],
       [{'Col1368', 'Col1352', 'Col962'}],
       [{'Col137', 'Col136'}],
       [{'Col1370', 'Col970'}],
       [{'Col978', 'Col1376'}],
       [{'Col1078', 'Col986', 'Col1392', 'Col1302'}],
       [{'Col1304', 'Col1394'}],
       [{'Col1098', 'Col1416', 'Col1400'}],
       [{'Col1418', 'Col1106', 'Col1328'}],
       [{'Col1424', 'Col1114'}],
       [{'Col1338', 'Col1428'}],
       [{'Col1432', 'Col1342'}],
       [{'Col1034', 'Col1434'}],
       [{'Col1442', 'Col1458', 'Col1054'}],
       [{'Col1062', 'Col1460'}],
       [{'Col1466', 'Col1070'}],
       [{'Col1170', 'Col1482'}],
       [{'Col1486', 'Col1396', 'Col1306'}],
       [{'Col1488', 'Col1308', 'Col1398'}],
       [{'Col1414', 'Col1504'}],
       [{'Col1490', 'Col1506', 'Col1190'}],
       [{'Col1198', 'Col1508'}],
       [{'Col1514', 'Col1206'}],
       [{'Col1520', 'Col1430'}],
       [{'Col1126', 'Col1524'}],
       [{'Col1532', 'Col1548', 'Col1146'}],
       [{'Col1550', 'Col1154'}],
       [{'Col1162', 'Col1556'}],
       [{'Col1572', 'Col1262'}],
       [{'Col1492', 'Col1582'}],
       [{'Col1496', 'Col1406', 'Col1586'}],
       [{'Col1500', 'Col990', 'Col1410', 'Col1320', 'Col1082', 'Col1266', 'Col1590', 'Col1174'}],
       [{'Col1592', 'Col1502', 'Col1412', 'Col1322'}],
       [{'Col1596', 'Col1282', 'Col1580'}],
       [{'Col1598', 'Col1290'}],
       [{'Col1510', 'Col1330', 'Col1600', 'Col1420'}],
       [{'Col1331', 'Col1601', 'Col1421', 'Col1511'}],
       [{'Col1604', 'Col1298'}],
       [{'Col160', 'Col161'}],
       [{'Col1218', 'Col1614'}],
       [{'Col1622', 'Col1238', 'Col1638'}],
       [{'Col1552', 'Col1462', 'Col1642', 'Col1372'}],
       [{'Col1553', 'Col1643'}],
       [{'Col1254', 'Col1646'}],
       [{'Col163', 'Col165'}],
       [{'Col1665', 'Col935'}],
       [{'Col941', 'Col1671'}],
       [{'Col947', 'Col1677'}],
       [{'Col949', 'Col1679'}],
       [{'Col1685', 'Col955'}],
       [{'Col961', 'Col1691'}],
       [{'Col967', 'Col1697'}],
       [{'Col1698', 'Col968'}],
       [{'Col1699', 'Col969'}],
       [{'Col1701', 'Col971'}],
       [{'Col973', 'Col1703'}],
       [{'Col975', 'Col1705'}],
       [{'Col1729', 'Col999'}],
       [{'Col173', 'Col172'}],
       [{'Col1731', 'Col1001'}],
       [{'Col1735', 'Col1005'}],
       [{'Col1011', 'Col1741'}],
       [{'Col1743', 'Col1013'}],
       [{'Col1015', 'Col1745'}],
       [{'Col1027', 'Col1757'}],
       [{'Col1670', 'Col1032', 'Col1762'}],
       [{'Col1763', 'Col1033'}],
       [{'Col1676', 'Col1768'}],
       [{'Col1039', 'Col1769'}],
       [{'Col948', 'Col1040', 'Col1678', 'Col1770'}],
       [{'Col1771', 'Col1041'}],
       [{'Col1680', 'Col1772'}],
       [{'Col1043', 'Col951', 'Col1681', 'Col1773'}],
       [{'Col1047', 'Col1777'}],
       [{'Col1782', 'Col1690', 'Col1052'}],
       [{'Col1783', 'Col1053'}],
       [{'Col1059', 'Col1789'}],
       [{'Col1060', 'Col1790'}],
       [{'Col1791', 'Col1061'}],
       [{'Col1793', 'Col1063'}],
       [{'Col1795', 'Col1065'}],
       [{'Col1712', 'Col1804'}],
       [{'Col1713', 'Col1805'}],
       [{'Col985', 'Col1715', 'Col1077', 'Col1807'}],
       [{'Col1718', 'Col1810'}],
       [{'Col1719', 'Col1811'}],
       [{'Col1726', 'Col1818'}],
       [{'Col1819', 'Col1727'}],
       [{'Col1091', 'Col1821'}],
       [{'Col1823', 'Col1093'}],
       [{'Col1097', 'Col1827'}],
       [{'Col1833', 'Col1103'}],
       [{'Col1837', 'Col1107'}],
       [{'Col1839', 'Col1747', 'Col1109'}],
       [{'Col1849', 'Col1119'}],
       [{'Col1124', 'Col1854'}],
       [{'Col1125', 'Col1855'}],
       [{'Col1131', 'Col1861'}],
       [{'Col1132', 'Col1862'}],
       [{'Col1133', 'Col1863'}],
       [{'Col1865', 'Col1135'}],
       [{'Col1139', 'Col1869'}],
       [{'Col1874', 'Col1144'}],
       [{'Col1145', 'Col1875'}],
       [{'Col1881', 'Col1151'}],
       [{'Col1882', 'Col1152'}],
       [{'Col1153', 'Col1883'}],
       [{'Col1155', 'Col1885'}],
       [{'Col1887', 'Col1157'}],
       [{'Col1889', 'Col1797', 'Col1067', 'Col1159'}],
       [{'Col1898', 'Col1806', 'Col1714'}],
       [{'Col1899', 'Col1169'}],
       [{'Col1175', 'Col1905', 'Col1721', 'Col1813'}],
       [{'Col1723', 'Col1907', 'Col1815'}],
       [{'Col1908', 'Col1816', 'Col1724'}],
       [{'Col1909', 'Col1725', 'Col1179', 'Col1817'}],
       [{'Col1183', 'Col1913'}],
       [{'Col1918', 'Col1826'}],
       [{'Col1919', 'Col1189'}],
       [{'Col1925', 'Col1195'}],
       [{'Col1199', 'Col1929'}],
       [{'Col1201', 'Col1931'}],
       [{'Col1932', 'Col1840', 'Col1748', 'Col1110', 'Col1018', 'Col1202'}],
       [{'Col1941', 'Col1211'}],
       [{'Col1947', 'Col1217'}],
       [{'Col1953', 'Col1223'}],
       [{'Col1224', 'Col1954'}],
       [{'Col1955', 'Col1225'}],
       [{'Col1957', 'Col1227'}],
       [{'Col1961', 'Col1231'}],
       [{'Col1236', 'Col1966'}],
       [{'Col1967', 'Col1237'}],
       [{'Col1973', 'Col1243'}],
       [{'Col1244', 'Col1974'}],
       [{'Col1975', 'Col1245'}],
       [{'Col1977', 'Col1247'}],
       [{'Col1979', 'Col1249'}],
       [{'Col1158', 'Col1980', 'Col1704', 'Col1066', 'Col974', 'Col1250', 'Col1888', 'Col1796'}],
       [{'Col1261', 'Col1991'}],
       [{'Col1906', 'Col1814', 'Col1998', 'Col1722'}],
       [{'Col1271', 'Col2001'}],
       [{'Col2005', 'Col1275'}],
       [{'Col1281', 'Col2011'}],
       [{'Col1287', 'Col2017'}],
       [{'Col2018', 'Col1926'}],
       [{'Col1291', 'Col2021'}],
       [{'Col2022', 'Col1930'}],
       [{'Col1293', 'Col2023'}],
       [{'Col1294', 'Col2024'}],
       [{'Col1933', 'Col1111', 'Col1203', 'Col2025', 'Col1019', 'Col1981', 'Col1295', 'Col1841', 'Col1251', 'Col1749'}],
       [{'Col1717', 'Col2033', 'Col1303', 'Col987'}],
       [{'Col2043', 'Col1313'}],
       [{'Col2045', 'Col1315'}],
       [{'Col2047', 'Col1317'}],
       [{'Col2049', 'Col1319'}],
       [{'Col1325', 'Col2055'}],
       [{'Col2040', 'Col1736', 'Col2056'}],
       [{'Col2057', 'Col1311', 'Col2041', 'Col1327', 'Col1737', 'Col1007'}],
       [{'Col1329', 'Col2059'}],
       [{'Col2063', 'Col1333'}],
       [{'Col2064', 'Col1752'}],
       [{'Col1753', 'Col1335', 'Col2065'}],
       [{'Col1337', 'Col2067'}],
       [{'Col2069', 'Col1339'}],
       [{'Col2070', 'Col1340'}],
       [{'Col2071', 'Col1341'}],
       [{'Col1343', 'Col2073'}],
       [{'Col2074', 'Col1672'}],
       [{'Col2075', 'Col1345', 'Col1673', 'Col943'}],
       [{'Col2077', 'Col1347'}],
       [{'Col1349', 'Col2079'}],
       [{'Col1350', 'Col2080'}],
       [{'Col1351', 'Col2081'}],
       [{'Col1354', 'Col2084'}],
       [{'Col2085', 'Col1355'}],
       [{'Col2086', 'Col1356'}],
       [{'Col2087', 'Col1357'}],
       [{'Col1359', 'Col2089'}],
       [{'Col1361', 'Col2091'}],
       [{'Col1363', 'Col2093'}],
       [{'Col1367', 'Col2097'}],
       [{'Col2082', 'Col2098', 'Col1692'}],
       [{'Col1369', 'Col963', 'Col1693', 'Col2083', 'Col1353', 'Col2099'}],
       [{'Col2100', 'Col1700'}],
       [{'Col2101', 'Col1371'}],
       [{'Col2105', 'Col1375'}],
       [{'Col2106', 'Col1708'}],
       [{'Col2107', 'Col1709', 'Col1377'}],
       [{'Col1379', 'Col2109', 'Col2083', 'Col1693'}],
       [{'Col2111', 'Col1381'}],
       [{'Col2113', 'Col1383'}],
       [{'Col1385', 'Col2115'}],
       [{'Col1386', 'Col2116'}],
       [{'Col2117', 'Col1387'}],
       [{'Col2118', 'Col1388'}],
       [{'Col2119', 'Col1389'}],
       [{'Col1390', 'Col2120'}],
       [{'Col1391', 'Col2121'}],
       [{'Col1716', 'Col2122', 'Col1808', 'Col2032'}],
       [{'Col1393', 'Col1079', 'Col1809', 'Col2123'}],
       [{'Col2124', 'Col2034'}],
       [{'Col2035', 'Col2125', 'Col1395'}],
       [{'Col1307', 'Col2127', 'Col2037', 'Col1397'}],
       [{'Col1399', 'Col2039', 'Col1309', 'Col2129'}],
       [{'Col2133', 'Col1403'}],
       [{'Col1405', 'Col2135'}],
       [{'Col2137', 'Col1407'}],
       [{'Col2139', 'Col1409'}],
       [{'Col1415', 'Col2145'}],
       [{'Col2146', 'Col1828', 'Col2130'}],
       [{'Col1417', 'Col2131', 'Col1401', 'Col2147', 'Col1829', 'Col1099'}],
       [{'Col2058', 'Col1836', 'Col2148'}],
       [{'Col2149', 'Col1419'}],
       [{'Col1423', 'Col2153'}],
       [{'Col2154', 'Col1844'}],
       [{'Col1425', 'Col1845', 'Col2155'}],
       [{'Col2157', 'Col1427'}],
       [{'Col2159', 'Col1429'}],
       [{'Col2160', 'Col1430'}],
       [{'Col1431', 'Col2161'}],
       [{'Col1433', 'Col2163'}],
       [{'Col2164', 'Col1764'}],
       [{'Col1435', 'Col1035', 'Col2165', 'Col1765'}],
       [{'Col1437', 'Col2167'}],
       [{'Col1438', 'Col2078', 'Col2168'}],
       [{'Col1439', 'Col2169'}],
       [{'Col2170', 'Col1440'}],
       [{'Col1441', 'Col2171'}],
       [{'Col1444', 'Col2174'}],
       [{'Col1445', 'Col2175'}],
       [{'Col1446', 'Col2176'}],
       [{'Col1447', 'Col2177'}],
       [{'Col2179', 'Col1449'}],
       [{'Col2181', 'Col1451'}],
       [{'Col2183', 'Col1453'}],
       [{'Col2096', 'Col2186', 'Col1456'}],
       [{'Col2187', 'Col1457'}],
       [{'Col1784', 'Col2172', 'Col2188'}],
       [{'Col1443', 'Col1055', 'Col2173', 'Col2189', 'Col1785', 'Col1459'}],
       [{'Col2190', 'Col1792'}],
       [{'Col2191', 'Col1461'}],
       [{'Col2195', 'Col1465'}],
       [{'Col2196', 'Col1800'}],
       [{'Col2197', 'Col1801', 'Col1467'}],
       [{'Col1469', 'Col2199'}],
       [{'Col1470', 'Col2200', 'Col2110'}],
       [{'Col2201', 'Col1471'}],
       [{'Col2112', 'Col1472', 'Col2202'}],
       [{'Col2203', 'Col1473'}],
       [{'Col1474', 'Col2204', 'Col2114'}],
       [{'Col1475', 'Col2205'}],
       [{'Col1477', 'Col2207'}],
       [{'Col1478', 'Col2208'}],
       [{'Col2209', 'Col1479'}],
       [{'Col1480', 'Col2210'}],
       [{'Col1481', 'Col2211'}],
       [{'Col2212', 'Col1900'}],
       [{'Col1901', 'Col1483', 'Col2213', 'Col1171'}],
       [{'Col1485', 'Col2215'}],
       [{'Col2216', 'Col2126', 'Col2036'}],
       [{'Col2217', 'Col1487'}],
       [{'Col2218', 'Col2128', 'Col2038'}],
       [{'Col2219', 'Col1489'}],
       [{'Col2222', 'Col2132'}],
       [{'Col1493', 'Col2223'}],
       [{'Col1495', 'Col2225'}],
       [{'Col2227', 'Col1497'}],
       [{'Col1499', 'Col2229'}],
       [{'Col2051', 'Col2141', 'Col1501', 'Col2231'}],
       [{'Col2143', 'Col2233', 'Col1413', 'Col2053', 'Col1503', 'Col1323'}],
       [{'Col2144', 'Col2234'}],
       [{'Col1505', 'Col2235'}],
       [{'Col1920', 'Col2236', 'Col2220'}],
       [{'Col1191', 'Col2221', 'Col1491', 'Col1921', 'Col1507', 'Col2237'}],
       [{'Col1928', 'Col2238'}],
       [{'Col2239', 'Col1509'}],
       [{'Col2242', 'Col2152', 'Col1512'}],
       [{'Col2243', 'Col1513'}],
       [{'Col1936', 'Col2244'}],
       [{'Col1937', 'Col1515', 'Col2245'}],
       [{'Col2247', 'Col1517'}],
       [{'Col2249', 'Col1519'}],
       [{'Col2251', 'Col1521'}],
       [{'Col1523', 'Col2253'}],
       [{'Col1856', 'Col2254'}],
       [{'Col1127', 'Col1525', 'Col2255', 'Col1857'}],
       [{'Col2257', 'Col1527'}],
       [{'Col1529', 'Col2259'}],
       [{'Col1531', 'Col2261'}],
       [{'Col1534', 'Col2264'}],
       [{'Col1535', 'Col2265'}],
       [{'Col2267', 'Col1537'}],
       [{'Col1539', 'Col2269'}],
       [{'Col2271', 'Col1541'}],
       [{'Col1543', 'Col2273'}],
       [{'Col2185', 'Col2275', 'Col1545', 'Col1455'}],
       [{'Col2276', 'Col1546'}],
       [{'Col1547', 'Col2277'}],
       [{'Col2278', 'Col1876', 'Col2262'}],
       [{'Col2263', 'Col1533', 'Col1147', 'Col2279', 'Col1877', 'Col1549'}],
       [{'Col2280', 'Col1884'}],
       [{'Col1551', 'Col2281'}],
       [{'Col2284', 'Col1554', 'Col2194'}],
       [{'Col2285', 'Col1555'}],
       [{'Col1892', 'Col2286'}],
       [{'Col2287', 'Col1557', 'Col1893'}],
       [{'Col1559', 'Col2289'}],
       [{'Col1560', 'Col2290'}],
       [{'Col2291', 'Col1561'}],
       [{'Col2292', 'Col1562'}],
       [{'Col1563', 'Col2293'}],
       [{'Col1564', 'Col2294'}],
       [{'Col2295', 'Col1565'}],
       [{'Col2297', 'Col1567'}],
       [{'Col1568', 'Col2298'}],
       [{'Col1569', 'Col2299'}],
       [{'Col1570', 'Col2300'}],
       [{'Col1571', 'Col2301'}],
       [{'Col1992', 'Col2302'}],
       [{'Col1263', 'Col2303', 'Col1573', 'Col1993'}],
       [{'Col2305', 'Col1575'}],
       [{'Col2307', 'Col1577'}],
       [{'Col1579', 'Col2309'}],
       [{'Col1583', 'Col2313'}],
       [{'Col1585', 'Col2315'}],
       [{'Col2136', 'Col2226', 'Col2316'}],
       [{'Col2317', 'Col1587'}],
       [{'Col1589', 'Col2319'}],
       [{'Col2320', 'Col1812', 'Col2230', 'Col2050', 'Col2140', 'Col1720', 'Col1996', 'Col1904'}],
       [{'Col2321', 'Col1591'}],
       [{'Col2142', 'Col2232', 'Col2052', 'Col2322'}],
       [{'Col2323', 'Col1593'}],
       [{'Col2325', 'Col1595'}],
       [{'Col2012', 'Col2310', 'Col2326'}],
       [{'Col1581', 'Col1283', 'Col2013', 'Col2327', 'Col1597', 'Col2311'}],
       [{'Col2020', 'Col2328'}],
       [{'Col2329', 'Col1599'}],
       [{'Col2240', 'Col2060', 'Col2330', 'Col2150'}],
       [{'Col2151', 'Col2241', 'Col2331', 'Col2061'}],
       [{'Col2332', 'Col1602'}],
       [{'Col1603', 'Col2333'}],
       [{'Col2334', 'Col2028'}],
       [{'Col2335', 'Col1605', 'Col2029'}],
       [{'Col1607', 'Col2337'}],
       [{'Col1609', 'Col2339'}],
       [{'Col2341', 'Col1611'}],
       [{'Col2343', 'Col1613'}],
       [{'Col2344', 'Col1948'}],
       [{'Col1949', 'Col2345', 'Col1615', 'Col1219'}],
       [{'Col1619', 'Col2349'}],
       [{'Col1621', 'Col2351'}],
       [{'Col1624', 'Col2354'}],
       [{'Col2355', 'Col1625'}],
       [{'Col1627', 'Col2357'}],
       [{'Col2359', 'Col1629'}],
       [{'Col2361', 'Col1631'}],
       [{'Col1633', 'Col2363'}],
       [{'Col1634', 'Col2184', 'Col2364', 'Col2274'}],
       [{'Col1635', 'Col2365'}],
       [{'Col1637', 'Col2367'}],
       [{'Col1968', 'Col2352', 'Col2368'}],
       [{'Col1623', 'Col1239', 'Col1969', 'Col2369', 'Col2353', 'Col1639'}],
       [{'Col2371', 'Col1641'}],
       [{'Col2192', 'Col2102', 'Col2372', 'Col2282'}],
       [{'Col2283', 'Col2373'}],
       [{'Col2374', 'Col1644'}],
       [{'Col2375', 'Col1645'}],
       [{'Col2376', 'Col1984'}],
       [{'Col1647', 'Col2377', 'Col1985'}],
       [{'Col1649', 'Col2379'}],
       [{'Col1650', 'Col2380'}],
       [{'Col2381', 'Col1651'}],
       [{'Col2382', 'Col1652'}],
       [{'Col1653', 'Col2383'}],
       [{'Col2385', 'Col1655'}],
       [{'Col2296', 'Col1656', 'Col2386'}],
       [{'Col2387', 'Col1657'}],
       [{'Col1658', 'Col2388'}],
       [{'Col2389', 'Col1659'}],
       [{'Col1660', 'Col2390'}],
       [{'Col2391', 'Col1661'}],
       [{'Col2392', 'Col2393'}],
       [{'Col2394', 'Col576'}],
       [{'Col917', 'Col2395', 'Col2396', 'Col922'}],
       [{'Col927', 'Col2397'}],
       [{'Col238', 'Col316'}],
       [{'Col236', 'Col313', 'Col321'}],
       [{'Col323', 'Col322'}],
       [{'Col378', 'Col181'}],
       [{'Col379', 'Col182'}],
       [{'Col183', 'Col380'}],
       [{'Col381', 'Col184'}],
       [{'Col186', 'Col383'}],
       [{'Col187', 'Col384'}],
       [{'Col188', 'Col385'}],
       [{'Col189', 'Col386'}],
       [{'Col190', 'Col387'}],
       [{'Col191', 'Col388'}],
       [{'Col389', 'Col192'}],
       [{'Col193', 'Col390'}],
       [{'Col391', 'Col194'}],
       [{'Col392', 'Col195'}],
       [{'Col196', 'Col393'}],
       [{'Col395', 'Col198'}],
       [{'Col398', 'Col201'}],
       [{'Col204', 'Col401'}],
       [{'Col205', 'Col402'}],
       [{'Col199', 'Col396', 'Col404', 'Col207'}],
       [{'Col405', 'Col208'}],
       [{'Col406', 'Col209'}],
       [{'Col210', 'Col407'}],
       [{'Col211', 'Col408'}],
       [{'Col212', 'Col409'}],
       [{'Col410', 'Col213'}],
       [{'Col215', 'Col412'}],
       [{'Col216', 'Col413'}],
       [{'Col217', 'Col414'}],
       [{'Col415', 'Col218'}],
       [{'Col219', 'Col416'}],
       [{'Col417', 'Col220'}],
       [{'Col221', 'Col418'}],
       [{'Col419', 'Col222'}],
       [{'Col420', 'Col223'}],
       [{'Col422', 'Col225'}],
       [{'Col426', 'Col229'}],
       [{'Col230', 'Col427'}],
       [{'Col428', 'Col231'}],
       [{'Col232', 'Col429'}],
       [{'Col430', 'Col233'}],
       [{'Col256', 'Col453'}],
       [{'Col270', 'Col467'}],
       [{'Col475', 'Col278'}],
       [{'Col476', 'Col279'}],
       [{'Col280', 'Col477'}],
       [{'Col289', 'Col486'}],
       [{'Col290', 'Col487'}],
       [{'Col488', 'Col291'}],
       [{'Col411', 'Col292', 'Col214', 'Col489'}],
       [{'Col293', 'Col490'}],
       [{'Col294', 'Col491'}],
       [{'Col492', 'Col295'}],
       [{'Col494', 'Col297'}],
       [{'Col298', 'Col495'}],
       [{'Col497', 'Col300'}],
       [{'Col302', 'Col499'}],
       [{'Col500', 'Col303'}],
       [{'Col224', 'Col304', 'Col501', 'Col421', 'Col296', 'Col493'}],
       [{'Col504', 'Col307'}],
       [{'Col505', 'Col308'}],
       [{'Col309', 'Col506'}],
       [{'Col310', 'Col507'}],
       [{'Col508', 'Col311'}],
       [{'Col509', 'Col312'}],
       [{'Col510', 'Col518', 'Col433'}],
       [{'Col520', 'Col519'}],
       [{'Col330', 'Col527'}],
       [{'Col331', 'Col528'}],
       [{'Col529', 'Col332'}],
       [{'Col447', 'Col250', 'Col333', 'Col530'}],
       [{'Col345', 'Col534', 'Col337', 'Col457', 'Col542', 'Col260'}],
       [{'Col350', 'Col547'}],
       [{'Col551', 'Col272', 'Col354', 'Col469'}],
       [{'Col358', 'Col366', 'Col282', 'Col563', 'Col479', 'Col555'}],
       [{'Col567', 'Col370'}],
       [{'Col568', 'Col371'}],
       [{'Col197', 'Col590', 'Col394'}],
       [{'Col397', 'Col593'}],
       [{'Col202', 'Col595', 'Col399'}],
       [{'Col400', 'Col596', 'Col203'}],
       [{'Col599', 'Col206', 'Col403'}],
       [{'Col600', 'Col592'}],
       [{'Col607', 'Col639'}],
       [{'Col643', 'Col617', 'Col651'}],
       [{'Col663', 'Col631'}],
       [{'Col668', 'Col660', 'Col629'}],
       [{'Col670', 'Col669'}],
       [{'Col708', 'Col728'}],
       [{'Col718', 'Col740', 'Col732'}],
       [{'Col749', 'Col686'}],
       [{'Col696', 'Col761', 'Col753'}],
       [{'Col6', 'Col8', 'Col4', 'Col7'}],
       [{'Col817', 'Col797'}],
       [{'Col807', 'Col821', 'Col829'}],
       [{'Col775', 'Col838'}],
       [{'Col842', 'Col850', 'Col785'}],
       [{'Col866', 'Col867'}],
       [{'Col888', 'Col899', 'Col897', 'Col890'}],
       [{'Col901', 'Col892'}],
       [{'Col893', 'Col902'}],
       [{'Col905', 'Col887', 'Col896', 'Col904', 'Col895'}],
       [{'Col908', 'Col906'}],
       [{'Col889', 'Col907', 'Col900', 'Col898', 'Col891', 'Col909'}],
       [{'Col169', 'Col916', 'Col168', 'Col921'}],
       [{'Col924', 'Col919'}],
       [{'Col575', 'Col926', 'Col170'}],
       [{'Col928', 'Col923', 'Col918'}],
       [{'Col932', 'Col931'}]], dtype=object)

In [18]:
correlated_features = []
for sets in correlated_array:
    element_list = list(sets[0])
    for idx, el in enumerate(element_list):
        if idx is not 0:
            correlated_features.append(el)

print (correlated_features)

['Col1038', 'Col950', 'Col1074', 'Col983', 'Col94', 'Col1080', 'Col1081', 'Col1088', 'Col1089', 'Col1090', 'Col1168', 'Col1076', 'Col1085', 'Col993', 'Col1086', 'Col1178', 'Col1096', 'Col1084', 'Col1176', 'Col1268', 'Col1196', 'Col1104', 'Col121', 'Col1200', 'Col123', 'Col1326', 'Col1006', 'Col133', 'Col1334', 'Col942', 'Col1352', 'Col962', 'Col136', 'Col970', 'Col1376', 'Col986', 'Col1392', 'Col1302', 'Col1394', 'Col1416', 'Col1400', 'Col1106', 'Col1328', 'Col1114', 'Col1428', 'Col1342', 'Col1434', 'Col1458', 'Col1054', 'Col1460', 'Col1070', 'Col1482', 'Col1396', 'Col1306', 'Col1308', 'Col1398', 'Col1504', 'Col1506', 'Col1190', 'Col1508', 'Col1206', 'Col1430', 'Col1524', 'Col1548', 'Col1146', 'Col1154', 'Col1556', 'Col1262', 'Col1582', 'Col1406', 'Col1586', 'Col990', 'Col1410', 'Col1320', 'Col1082', 'Col1266', 'Col1590', 'Col1174', 'Col1502', 'Col1412', 'Col1322', 'Col1282', 'Col1580', 'Col1290', 'Col1330', 'Col1600', 'Col1420', 'Col1601', 'Col1421', 'Col1511', 'Col1298', 'Col161', 'Col1614', 'Col1238', 'Col1638', 'Col1462', 'Col1642', 'Col1372', 'Col1643', 'Col1646', 'Col165', 'Col935', 'Col1671', 'Col1677', 'Col1679', 'Col955', 'Col1691', 'Col1697', 'Col968', 'Col969', 'Col971', 'Col1703', 'Col1705', 'Col999', 'Col172', 'Col1001', 'Col1005', 'Col1741', 'Col1013', 'Col1745', 'Col1757', 'Col1032', 'Col1762', 'Col1033', 'Col1768', 'Col1769', 'Col1040', 'Col1678', 'Col1770', 'Col1041', 'Col1772', 'Col951', 'Col1681', 'Col1773', 'Col1777', 'Col1690', 'Col1052', 'Col1053', 'Col1789', 'Col1790', 'Col1061', 'Col1063', 'Col1065', 'Col1804', 'Col1805', 'Col1715', 'Col1077', 'Col1807', 'Col1810', 'Col1811', 'Col1818', 'Col1727', 'Col1821', 'Col1093', 'Col1827', 'Col1103', 'Col1107', 'Col1747', 'Col1109', 'Col1119', 'Col1854', 'Col1855', 'Col1861', 'Col1862', 'Col1863', 'Col1135', 'Col1869', 'Col1144', 'Col1875', 'Col1151', 'Col1152', 'Col1883', 'Col1885', 'Col1157', 'Col1797', 'Col1067', 'Col1159', 'Col1806', 'Col1714', 'Col1169', 'Col1905', 'Col1721', 'Col1813', 'Col1907', 'Col1815', 'Col1816', 'Col1724', 'Col1725', 'Col1179', 'Col1817', 'Col1913', 'Col1826', 'Col1189', 'Col1195', 'Col1929', 'Col1931', 'Col1840', 'Col1748', 'Col1110', 'Col1018', 'Col1202', 'Col1211', 'Col1217', 'Col1223', 'Col1954', 'Col1225', 'Col1227', 'Col1231', 'Col1966', 'Col1237', 'Col1243', 'Col1974', 'Col1245', 'Col1247', 'Col1249', 'Col1980', 'Col1704', 'Col1066', 'Col974', 'Col1250', 'Col1888', 'Col1796', 'Col1991', 'Col1814', 'Col1998', 'Col1722', 'Col2001', 'Col1275', 'Col2011', 'Col2017', 'Col1926', 'Col2021', 'Col1930', 'Col2023', 'Col2024', 'Col1111', 'Col1203', 'Col2025', 'Col1019', 'Col1981', 'Col1295', 'Col1841', 'Col1251', 'Col1749', 'Col2033', 'Col1303', 'Col987', 'Col1313', 'Col1315', 'Col1317', 'Col1319', 'Col2055', 'Col1736', 'Col2056', 'Col1311', 'Col2041', 'Col1327', 'Col1737', 'Col1007', 'Col2059', 'Col1333', 'Col1752', 'Col1335', 'Col2065', 'Col2067', 'Col1339', 'Col1340', 'Col1341', 'Col2073', 'Col1672', 'Col1345', 'Col1673', 'Col943', 'Col1347', 'Col2079', 'Col2080', 'Col2081', 'Col2084', 'Col1355', 'Col1356', 'Col1357', 'Col2089', 'Col2091', 'Col2093', 'Col2097', 'Col2098', 'Col1692', 'Col963', 'Col1693', 'Col2083', 'Col1353', 'Col2099', 'Col1700', 'Col1371', 'Col1375', 'Col1708', 'Col1709', 'Col1377', 'Col2109', 'Col2083', 'Col1693', 'Col1381', 'Col1383', 'Col2115', 'Col2116', 'Col1387', 'Col1388', 'Col1389', 'Col2120', 'Col2121', 'Col2122', 'Col1808', 'Col2032', 'Col1079', 'Col1809', 'Col2123', 'Col2034', 'Col2125', 'Col1395', 'Col2127', 'Col2037', 'Col1397', 'Col2039', 'Col1309', 'Col2129', 'Col1403', 'Col2135', 'Col1407', 'Col1409', 'Col2145', 'Col1828', 'Col2130', 'Col2131', 'Col1401', 'Col2147', 'Col1829', 'Col1099', 'Col1836', 'Col2148', 'Col1419', 'Col2153', 'Col1844', 'Col1845', 'Col2155', 'Col1427', 'Col1429', 'Col1430', 'Col2161', 'Col2163', 'Col1764', 'Col1035', 'Col2165', 'Col1765', 'Col2167', 'Col2078', 'Col2168', 'Col2169', 'Col1440', 'Col2171', 'Col2174', 'Col2175', 'Col2176', 'Col2177', 'Col1449', 'Col1451', 'Col1453', 'Col2186', 'Col1456', 'Col1457', 'Col2172', 'Col2188', 'Col1055', 'Col2173', 'Col2189', 'Col1785', 'Col1459', 'Col1792', 'Col1461', 'Col1465', 'Col1800', 'Col1801', 'Col1467', 'Col2199', 'Col2200', 'Col2110', 'Col1471', 'Col1472', 'Col2202', 'Col1473', 'Col2204', 'Col2114', 'Col2205', 'Col2207', 'Col2208', 'Col1479', 'Col2210', 'Col2211', 'Col1900', 'Col1483', 'Col2213', 'Col1171', 'Col2215', 'Col2126', 'Col2036', 'Col1487', 'Col2128', 'Col2038', 'Col1489', 'Col2132', 'Col2223', 'Col2225', 'Col1497', 'Col2229', 'Col2141', 'Col1501', 'Col2231', 'Col2233', 'Col1413', 'Col2053', 'Col1503', 'Col1323', 'Col2234', 'Col2235', 'Col2236', 'Col2220', 'Col2221', 'Col1491', 'Col1921', 'Col1507', 'Col2237', 'Col2238', 'Col1509', 'Col2152', 'Col1512', 'Col1513', 'Col2244', 'Col1515', 'Col2245', 'Col1517', 'Col1519', 'Col1521', 'Col2253', 'Col2254', 'Col1525', 'Col2255', 'Col1857', 'Col1527', 'Col2259', 'Col2261', 'Col2264', 'Col2265', 'Col1537', 'Col2269', 'Col1541', 'Col2273', 'Col2275', 'Col1545', 'Col1455', 'Col1546', 'Col2277', 'Col1876', 'Col2262', 'Col1533', 'Col1147', 'Col2279', 'Col1877', 'Col1549', 'Col1884', 'Col2281', 'Col1554', 'Col2194', 'Col1555', 'Col2286', 'Col1557', 'Col1893', 'Col2289', 'Col2290', 'Col1561', 'Col1562', 'Col2293', 'Col2294', 'Col1565', 'Col1567', 'Col2298', 'Col2299', 'Col2300', 'Col2301', 'Col2302', 'Col2303', 'Col1573', 'Col1993', 'Col1575', 'Col1577', 'Col2309', 'Col2313', 'Col2315', 'Col2226', 'Col2316', 'Col1587', 'Col2319', 'Col1812', 'Col2230', 'Col2050', 'Col2140', 'Col1720', 'Col1996', 'Col1904', 'Col1591', 'Col2232', 'Col2052', 'Col2322', 'Col1593', 'Col1595', 'Col2310', 'Col2326', 'Col1283', 'Col2013', 'Col2327', 'Col1597', 'Col2311', 'Col2328', 'Col1599', 'Col2060', 'Col2330', 'Col2150', 'Col2241', 'Col2331', 'Col2061', 'Col1602', 'Col2333', 'Col2028', 'Col1605', 'Col2029', 'Col2337', 'Col2339', 'Col1611', 'Col1613', 'Col1948', 'Col2345', 'Col1615', 'Col1219', 'Col2349', 'Col2351', 'Col2354', 'Col1625', 'Col2357', 'Col1629', 'Col1631', 'Col2363', 'Col2184', 'Col2364', 'Col2274', 'Col2365', 'Col2367', 'Col2352', 'Col2368', 'Col1239', 'Col1969', 'Col2369', 'Col2353', 'Col1639', 'Col1641', 'Col2102', 'Col2372', 'Col2282', 'Col2373', 'Col1644', 'Col1645', 'Col1984', 'Col2377', 'Col1985', 'Col2379', 'Col2380', 'Col1651', 'Col1652', 'Col2383', 'Col1655', 'Col1656', 'Col2386', 'Col1657', 'Col2388', 'Col1659', 'Col2390', 'Col1661', 'Col2393', 'Col576', 'Col2395', 'Col2396', 'Col922', 'Col2397', 'Col316', 'Col313', 'Col321', 'Col322', 'Col181', 'Col182', 'Col380', 'Col184', 'Col383', 'Col384', 'Col385', 'Col386', 'Col387', 'Col388', 'Col192', 'Col390', 'Col194', 'Col195', 'Col393', 'Col198', 'Col201', 'Col401', 'Col402', 'Col396', 'Col404', 'Col207', 'Col208', 'Col209', 'Col407', 'Col408', 'Col409', 'Col213', 'Col412', 'Col413', 'Col414', 'Col218', 'Col416', 'Col220', 'Col418', 'Col222', 'Col223', 'Col225', 'Col229', 'Col427', 'Col231', 'Col429', 'Col233', 'Col453', 'Col467', 'Col278', 'Col279', 'Col477', 'Col486', 'Col487', 'Col291', 'Col292', 'Col214', 'Col489', 'Col490', 'Col491', 'Col295', 'Col297', 'Col495', 'Col300', 'Col499', 'Col303', 'Col304', 'Col501', 'Col421', 'Col296', 'Col493', 'Col307', 'Col308', 'Col506', 'Col507', 'Col311', 'Col312', 'Col518', 'Col433', 'Col519', 'Col527', 'Col528', 'Col332', 'Col250', 'Col333', 'Col530', 'Col534', 'Col337', 'Col457', 'Col542', 'Col260', 'Col547', 'Col272', 'Col354', 'Col469', 'Col366', 'Col282', 'Col563', 'Col479', 'Col555', 'Col370', 'Col371', 'Col590', 'Col394', 'Col593', 'Col595', 'Col399', 'Col596', 'Col203', 'Col206', 'Col403', 'Col592', 'Col639', 'Col617', 'Col651', 'Col631', 'Col660', 'Col629', 'Col669', 'Col728', 'Col740', 'Col732', 'Col686', 'Col761', 'Col753', 'Col8', 'Col4', 'Col7', 'Col797', 'Col821', 'Col829', 'Col838', 'Col850', 'Col785', 'Col867', 'Col899', 'Col897', 'Col890', 'Col892', 'Col902', 'Col887', 'Col896', 'Col904', 'Col895', 'Col906', 'Col907', 'Col900', 'Col898', 'Col891', 'Col909', 'Col916', 'Col168', 'Col921', 'Col919', 'Col926', 'Col170', 'Col923', 'Col918', 'Col931']

In [0]:
non_cor_train_df = tdf.drop(correlated_features, axis=1 )

In [20]:
non_cor_train_df.shape

(17521, 1369)

In [21]:
non_cor_train_df.head()

        Col1  Col2          Col3  ...  Col2391  Col2392  Col2394
0    RIGHGSN     1  1.086711e+04  ...        1    214.0     68.0
1  RIMHI5ZGP     0  2.584312e+05  ...        0     41.0     38.0
2  RIHOG1SZU     0  1.459355e+07  ...        0    378.0    310.0
3  RIHOLMQWU     0  6.727043e+05  ...        0    702.0    644.0
4  RIHO584ET     0 -1.218742e+06  ...        0   1305.0   1211.0

[5 rows x 1369 columns]

In [0]:
import seaborn as sns; sns.set(style="ticks", color_codes=True)
g = sns.pairplot(non_cor_train_df)

In [22]:
unique_values_list = non_cor_train_df.nunique()
unique_values_list=unique_values_list.reset_index()
unique_values_list.columns = ['Col',"Count"]
unique_values_list['Col'].count()

1369

In [23]:
continious =  unique_values_list[unique_values_list['Count'] > 990]
cont_cols = continious['Col']
cont_df = non_cor_train_df[cont_cols]
cat_df = non_cor_train_df.drop(cont_cols,axis=1)
cat_df.head()

   Col2  Col29  Col30  Col31  ...  Col2389  Col2391  Col2392  Col2394
0     1      1      1      1  ...        1        1    214.0     68.0
1     0      1      1      3  ...        0        0     41.0     38.0
2     0      3      3      4  ...        1        0    378.0    310.0
3     0      2      2      2  ...        0        0    702.0    644.0
4     0      4      3      4  ...        0        0   1305.0   1211.0

[5 rows x 1057 columns]

In [24]:
wrongly_classified =['Col2392','Col2394']
for col in wrongly_classified:
  cont_df[col] = non_cor_train_df[col]
  cat_df.drop(col,axis=1,inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
cat_df = cat_df.drop('Col2', axis=1)

In [0]:
def get_missing_count(df):
  missing_df = df.isnull().sum(axis=0).reset_index()
  missing_df.columns = ['column_name', 'missing_count']
  missing_df = missing_df.loc[missing_df['missing_count']>0]
  return missing_df

In [0]:
def get_non_missing_columns(df):
  missing_df = df.isnull().sum(axis=0).reset_index()
  missing_df.columns = ['column_name', 'missing_count']
  missing_df = missing_df.loc[missing_df['missing_count']==0]
  return missing_df

In [0]:
cat_non_miss_columns =list(get_non_missing_columns(cat_df)['column_name'])
cont_non_miss_columns =list(get_non_missing_columns(cont_df)['column_name'])

In [29]:
final_cols = cat_non_miss_columns+cont_non_miss_columns

training_df = non_cor_train_df[final_cols]
training_df['Col2'] = non_cor_train_df['Col2']


#Expliciltly choosing only already decided features
testing_df = test_df_itm[final_cols]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [0]:
get_missing_count(testing_df)

Empty DataFrame
Columns: [column_name, missing_count]
Index: []

In [30]:
ids= testing_df.Col1
testing_df.drop('Col1',axis=1,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [0]:
target=training_df.Col2
candidate_train_predictors = training_df.drop(['Col1','Col2'], axis=1)
low_cardinality_cols = [cname for cname in candidate_train_predictors.columns
                                       if candidate_train_predictors[cname].nunique()< 20 and
                                       candidate_train_predictors[cname].dtype=="object"]

numeric_cols = [cname for cname in candidate_train_predictors.columns
                               if candidate_train_predictors[cname].dtype in ['int64', 'float64']]
useful_cols = low_cardinality_cols + numeric_cols
train_predictors = candidate_train_predictors[useful_cols]

In [0]:
one_hot_encoded_data = pd.get_dummies(train_predictors)

In [0]:
x_train,x_test,y_train,y_test = train_test_split(one_hot_encoded_data,target,test_size = 0.3,random_state = 1)

In [0]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(x_train,y_train)
prediction = dtree.predict(x_test)

print('With Decision tree accuracy is: ',dtree.score(x_test,y_test))

With Decision tree accuracy is:  0.8333650370933993

In [0]:
prediction=dtree.predict(testing_df)

In [0]:
dataset = pd.DataFrame({'Col1': list(ids), 'Col2': prediction}, columns=['Col1', 'Col2'])
dataset.to_csv('/content/drive/My Drive/HDFC/d407ebe0db9a11e9/DataSet/Submission.csv',header=True,index=False)

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
param_grid = {"C": np.logspace(-3,3,7), "penalty" : ["l1","l2"]}

logreg = LogisticRegression()
logreg_cv = GridSearchCV(logreg,param_grid,cv = 10)
logreg_cv.fit(x_train,y_train)

In [0]:
print("tuned hyperparameters: (best parameters): ", logreg_cv.best_params_)
print("accuracy: ", logreg_cv.best_score_)

In [0]:
logreg2 = LogisticRegression(C = 10, penalty="l2")
logreg2.fit(x_train,y_train)
print("score: ", logreg2.score(x_test,y_test))

In [0]:
xgboost = XGBClassifier(max_depth=5, learning_rate=0.01, n_estimators=100, gamma=0, 
                        min_child_weight=1, subsample=0.8, colsample_bytree=0.8, reg_alpha=0.005)

xgboost.fit(X_train, y_train)
preds = xgboost.predict(X_test)

accuracy = (preds == y_test).sum().astype(float) / len(preds)*100

print("XGBoost's prediction accuracy WITH optimal hyperparameters is: %3.2f" % (accuracy))

In [0]:


print("F1-Score:", f1_score(sdss['class'], predictions, average='micro'))

In [0]:
kfold = StratifiedKFold(n_splits=2)

In [40]:
SVMC = SVC(probability=True)
svc_param_grid = {'kernel': ['rbf'], 
                  'gamma': [ 0.001, 0.01, 0.1, 1],
                  'C': [1, 10, 50, 100,200,300, 1000]}

gsSVMC = GridSearchCV(SVMC,param_grid = svc_param_grid, cv=kfold, scoring="accuracy", n_jobs= 12, verbose = 1)

gsSVMC.fit(x_train,y_train)

SVMC_best = gsSVMC.best_estimator_

# Best score
gsSVMC.best_score_

Fitting 2 folds for each of 28 candidates, totalling 56 fits

[Parallel(n_jobs=12)]: Using backend LokyBackend with 12 concurrent workers.

KeyboardInterrupt: ignored

In [42]:
DTC = DecisionTreeClassifier()

adaDTC = AdaBoostClassifier(DTC, random_state=7)

ada_param_grid = {"base_estimator__criterion" : ["gini", "entropy"],
              "base_estimator__splitter" :   ["best", "random"],
              "algorithm" : ["SAMME","SAMME.R"],
              "n_estimators" :[1,2],
              "learning_rate":  [0.0001, 0.001, 0.01, 0.1, 0.2, 0.3,1.5]}

gsadaDTC = GridSearchCV(adaDTC,param_grid = ada_param_grid, cv=kfold, scoring="accuracy", n_jobs= 6, verbose = 4)

gsadaDTC.fit(x_train,y_train)

ada_best = gsadaDTC.best_estimator_

Fitting 2 folds for each of 112 candidates, totalling 224 fits

[Parallel(n_jobs=6)]: Using backend LokyBackend with 6 concurrent workers.
[Parallel(n_jobs=6)]: Done  13 tasks      | elapsed:   48.4s
[Parallel(n_jobs=6)]: Done  86 tasks      | elapsed:  3.0min
[Parallel(n_jobs=6)]: Done 209 tasks      | elapsed:  6.5min
[Parallel(n_jobs=6)]: Done 224 out of 224 | elapsed:  6.8min finished

In [44]:
ExtC = ExtraTreesClassifier()


## Search grid for optimal parameters
ex_param_grid = {"max_depth": [None],
              "max_features": [1, 3, 10],
              "min_samples_split": [2, 3, 10],
              "min_samples_leaf": [1, 3, 10],
              "bootstrap": [False],
              "n_estimators" :[100,300],
              "criterion": ["gini"]}


gsExtC = GridSearchCV(ExtC,param_grid = ex_param_grid, cv=kfold, scoring="accuracy", n_jobs= 6, verbose = 4)

gsExtC.fit(x_train,y_train)

ExtC_best = gsExtC.best_estimator_

# Best score
gsExtC.best_score_

Fitting 2 folds for each of 54 candidates, totalling 108 fits

[Parallel(n_jobs=6)]: Using backend LokyBackend with 6 concurrent workers.
/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=6)]: Done  13 tasks      | elapsed:   30.8s
[Parallel(n_jobs=6)]: Done  86 tasks      | elapsed:  2.5min
[Parallel(n_jobs=6)]: Done 108 out of 108 | elapsed:  3.3min finished

0.8990541422048272

In [45]:
RFC = RandomForestClassifier()


## Search grid for optimal parameters
rf_param_grid = {"max_depth": [None],
              "max_features": [1, 3, 10],
              "min_samples_split": [2, 3, 10],
              "min_samples_leaf": [1, 3, 10],
              "bootstrap": [False],
              "n_estimators" :[100,300],
              "criterion": ["gini"]}


gsRFC = GridSearchCV(RFC,param_grid = rf_param_grid, cv=kfold, scoring="accuracy", n_jobs= 4, verbose = 1)

gsRFC.fit(x_train,y_train)

RFC_best = gsRFC.best_estimator_

# Best score
gsRFC.best_score_

Fitting 2 folds for each of 54 candidates, totalling 108 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:   58.8s
[Parallel(n_jobs=4)]: Done 108 out of 108 | elapsed:  3.5min finished

0.8990541422048272

In [47]:
GBC = GradientBoostingClassifier()
gb_param_grid = {'loss' : ["deviance"],
              'n_estimators' : [100,200,300],
              'learning_rate': [0.1, 0.05, 0.01],
              'max_depth': [4, 8],
              'min_samples_leaf': [100,150],
              'max_features': [0.3, 0.1] 
              }

gsGBC = GridSearchCV(GBC,param_grid = gb_param_grid, cv=kfold, scoring="accuracy", n_jobs= 6, verbose = 1)

gsGBC.fit(x_train,y_train)

GBC_best = gsGBC.best_estimator_

# Best score
gsGBC.best_score_

Fitting 2 folds for each of 72 candidates, totalling 144 fits

[Parallel(n_jobs=6)]: Using backend LokyBackend with 6 concurrent workers.
[Parallel(n_jobs=6)]: Done  38 tasks      | elapsed:  9.4min
[Parallel(n_jobs=6)]: Done 144 out of 144 | elapsed: 32.9min finished

0.8995433789954338

In [0]:
votingC = VotingClassifier(estimators=[('rfc', RFC_best), ('extc', ExtC_best),
 ('adac',ada_best),('gbc',GBC_best)], voting='soft', n_jobs=4)

votingC = votingC.fit(x_train, y_train)

In [0]:
prediction = votingC.predict(testing_df)
dataset = pd.DataFrame({'Col1': list(ids), 'Col2': prediction}, columns=['Col1', 'Col2'])
dataset.to_csv('/content/drive/My Drive/HDFC/d407ebe0db9a11e9/DataSet/Submission2.csv',header=True,index=False)