<a href="https://colab.research.google.com/github/trailblazerakash/MachineLearning/blob/master/hdfc/model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np
%matplotlib inline

from itertools import chain
from sklearn import preprocessing, ensemble
from sklearn.preprocessing import OneHotEncoder

In [3]:

train_df = pd.read_csv('/content/drive/My Drive/HDFC/d407ebe0db9a11e9/DataSet/Train.csv')
train_df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (746,835) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        Col1  Col2          Col3  ...  Col2395  Col2396  Col2397
0    RIGHGSN     1  1.086711e+04  ...     22.0     22.0      7.0
1  RIMHI5ZGP     0  2.584312e+05  ...     12.0     12.0     11.0
2  RIHOG1SZU     0  1.459355e+07  ...     21.0     21.0     16.0
3  RIHOLMQWU     0  6.727043e+05  ...    951.0    951.0    743.0
4  RIHO584ET     0 -1.218742e+06  ...   2205.0   2205.0   1831.0

[5 rows x 2395 columns]

In [0]:
df_dtypes = pd.DataFrame(train_df.dtypes,columns=['dtypes'])
df_dtypes['first_value'] = train_df.loc[0].values

In [0]:
df_dtypes['Null_Count'] = train_df[train_df.columns].isnull().sum()

In [6]:
df_dtypes.head()

       dtypes first_value  Null_Count
Col1   object     RIGHGSN           0
Col2    int64           1           0
Col3  float64     10867.1           0
Col4  float64     8648.34           0
Col5  float64     15766.2           0

In [7]:
print (df.isna())

NameError: ignored

In [0]:
df.isna().mean()

In [0]:
tdf = train_df.loc[:, train_df.isna().mean() < .25]

In [10]:
tdf.shape

(17521, 2115)

In [0]:
#NOT WORKING PROPERLY

def get_redundant_pairs(df):
    '''Get diagonal and lower triangular pairs of correlation matrix'''
    pairs_to_drop = set()
    cols = df.columns
    for i in range(0, df.shape[1]):
        for j in range(0, i+1):
            pairs_to_drop.add((cols[i], cols[j]))
    return pairs_to_drop

def get_top_abs_correlations(df, n=5):
    au_corr = df.corr().abs().unstack()
    labels_to_drop = get_redundant_pairs(df)
    au_corr = au_corr.drop(labels=labels_to_drop).sort_values(ascending=False)
    return au_corr[0:n]

In [0]:

print("Top Absolute Correlations")
print(get_top_abs_correlations(tdf, 100))

In [11]:
dtype_df = tdf.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df.groupby("Column Type").aggregate('count').reset_index()

  Column Type  Count
0       int64   1548
1     float64    566
2      object      1

In [12]:
dtype_df = tdf.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df.groupby("Column Type").aggregate('count').reset_index()

  Column Type  Count
0       int64   1548
1     float64    566
2      object      1

In [13]:
dtype_df.ix[:10,:]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

    Count Column Type
0    Col1      object
1    Col2       int64
2    Col3     float64
3    Col4     float64
4    Col5     float64
5    Col6     float64
6    Col7     float64
7    Col8     float64
8    Col9     float64
9   Col10     float64
10  Col11     float64

In [14]:
unique_values_dict = {}
for col in tdf.columns:
    if col not in ["Col1","Col2"]:
        unique_value = str(np.sort(tdf[col].unique()).tolist())
        tlist = unique_values_dict.get(unique_value, [])
        tlist.append(col)
        unique_values_dict[unique_value] = tlist[:]
for unique_val, columns in unique_values_dict.items():
    print("Columns containing the unique values : ",unique_val)
    print(columns)
    print("--------------------------------------------------")

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [0]:
correlation_threshold = 0.99 #
train_integer = tdf.drop(["Col1","Col2"],axis=1)
cor = train_integer.corr()

In [17]:

cor.loc[:,:] =  np.tril(cor, k=-1)
cor = cor.stack()
correlated = cor[cor > correlation_threshold].reset_index().loc[:,['level_0','level_1']]
correlated = correlated.query('level_0 not in level_1')
correlated_array =  correlated.groupby('level_0').agg(lambda x: set(chain(x.level_0,x.level_1))).values
correlated_array

array([[{'Col946', 'Col1038'}],
       [{'Col950', 'Col1042'}],
       [{'Col982', 'Col1074'}],
       [{'Col1075', 'Col983'}],
       [{'Col108', 'Col94'}],
       [{'Col1080', 'Col988'}],
       [{'Col1081', 'Col989'}],
       [{'Col1088', 'Col996'}],
       [{'Col997', 'Col1089'}],
       [{'Col998', 'Col1090'}],
       [{'Col984', 'Col1168', 'Col1076'}],
       [{'Col993', 'Col1177', 'Col1085'}],
       [{'Col1086', 'Col994', 'Col1178'}],
       [{'Col1188', 'Col1096'}],
       [{'Col1084', 'Col1268', 'Col1176', 'Col992'}],
       [{'Col1288', 'Col1104', 'Col1196'}],
       [{'Col129', 'Col121'}],
       [{'Col1292', 'Col1200'}],
       [{'Col131', 'Col123'}],
       [{'Col1006', 'Col1326', 'Col1310'}],
       [{'Col125', 'Col133'}],
       [{'Col1022', 'Col1334'}],
       [{'Col942', 'Col1344'}],
       [{'Col1368', 'Col962', 'Col1352'}],
       [{'Col137', 'Col136'}],
       [{'Col970', 'Col1370'}],
       [{'Col1376', 'Col978'}],
       [{'Col1302', 'Col1078', 'Col986', 'Col1392'}],
       [{'Col1304', 'Col1394'}],
       [{'Col1400', 'Col1416', 'Col1098'}],
       [{'Col1418', 'Col1328', 'Col1106'}],
       [{'Col1114', 'Col1424'}],
       [{'Col1338', 'Col1428'}],
       [{'Col1342', 'Col1432'}],
       [{'Col1434', 'Col1034'}],
       [{'Col1054', 'Col1442', 'Col1458'}],
       [{'Col1062', 'Col1460'}],
       [{'Col1466', 'Col1070'}],
       [{'Col1170', 'Col1482'}],
       [{'Col1306', 'Col1396', 'Col1486'}],
       [{'Col1398', 'Col1308', 'Col1488'}],
       [{'Col1414', 'Col1504'}],
       [{'Col1190', 'Col1506', 'Col1490'}],
       [{'Col1198', 'Col1508'}],
       [{'Col1514', 'Col1206'}],
       [{'Col1520', 'Col1430'}],
       [{'Col1524', 'Col1126'}],
       [{'Col1548', 'Col1146', 'Col1532'}],
       [{'Col1550', 'Col1154'}],
       [{'Col1556', 'Col1162'}],
       [{'Col1572', 'Col1262'}],
       [{'Col1582', 'Col1492'}],
       [{'Col1586', 'Col1406', 'Col1496'}],
       [{'Col1410', 'Col990', 'Col1174', 'Col1590', 'Col1500', 'Col1266', 'Col1320', 'Col1082'}],
       [{'Col1592', 'Col1322', 'Col1502', 'Col1412'}],
       [{'Col1580', 'Col1282', 'Col1596'}],
       [{'Col1290', 'Col1598'}],
       [{'Col1420', 'Col1510', 'Col1330', 'Col1600'}],
       [{'Col1601', 'Col1511', 'Col1331', 'Col1421'}],
       [{'Col1298', 'Col1604'}],
       [{'Col160', 'Col161'}],
       [{'Col1218', 'Col1614'}],
       [{'Col1638', 'Col1622', 'Col1238'}],
       [{'Col1552', 'Col1642', 'Col1372', 'Col1462'}],
       [{'Col1643', 'Col1553'}],
       [{'Col1646', 'Col1254'}],
       [{'Col163', 'Col165'}],
       [{'Col1665', 'Col935'}],
       [{'Col941', 'Col1671'}],
       [{'Col947', 'Col1677'}],
       [{'Col1679', 'Col949'}],
       [{'Col955', 'Col1685'}],
       [{'Col961', 'Col1691'}],
       [{'Col1697', 'Col967'}],
       [{'Col968', 'Col1698'}],
       [{'Col969', 'Col1699'}],
       [{'Col971', 'Col1701'}],
       [{'Col1703', 'Col973'}],
       [{'Col975', 'Col1705'}],
       [{'Col999', 'Col1729'}],
       [{'Col172', 'Col173'}],
       [{'Col1001', 'Col1731'}],
       [{'Col1735', 'Col1005'}],
       [{'Col1011', 'Col1741'}],
       [{'Col1013', 'Col1743'}],
       [{'Col1015', 'Col1745'}],
       [{'Col1027', 'Col1757'}],
       [{'Col1762', 'Col1032', 'Col1670'}],
       [{'Col1763', 'Col1033'}],
       [{'Col1676', 'Col1768'}],
       [{'Col1769', 'Col1039'}],
       [{'Col948', 'Col1678', 'Col1770', 'Col1040'}],
       [{'Col1771', 'Col1041'}],
       [{'Col1772', 'Col1680'}],
       [{'Col1773', 'Col1043', 'Col951', 'Col1681'}],
       [{'Col1777', 'Col1047'}],
       [{'Col1052', 'Col1782', 'Col1690'}],
       [{'Col1053', 'Col1783'}],
       [{'Col1789', 'Col1059'}],
       [{'Col1790', 'Col1060'}],
       [{'Col1061', 'Col1791'}],
       [{'Col1063', 'Col1793'}],
       [{'Col1795', 'Col1065'}],
       [{'Col1712', 'Col1804'}],
       [{'Col1713', 'Col1805'}],
       [{'Col1077', 'Col1807', 'Col985', 'Col1715'}],
       [{'Col1810', 'Col1718'}],
       [{'Col1811', 'Col1719'}],
       [{'Col1818', 'Col1726'}],
       [{'Col1819', 'Col1727'}],
       [{'Col1821', 'Col1091'}],
       [{'Col1093', 'Col1823'}],
       [{'Col1827', 'Col1097'}],
       [{'Col1833', 'Col1103'}],
       [{'Col1107', 'Col1837'}],
       [{'Col1109', 'Col1839', 'Col1747'}],
       [{'Col1849', 'Col1119'}],
       [{'Col1854', 'Col1124'}],
       [{'Col1855', 'Col1125'}],
       [{'Col1861', 'Col1131'}],
       [{'Col1132', 'Col1862'}],
       [{'Col1133', 'Col1863'}],
       [{'Col1135', 'Col1865'}],
       [{'Col1139', 'Col1869'}],
       [{'Col1874', 'Col1144'}],
       [{'Col1145', 'Col1875'}],
       [{'Col1151', 'Col1881'}],
       [{'Col1882', 'Col1152'}],
       [{'Col1883', 'Col1153'}],
       [{'Col1885', 'Col1155'}],
       [{'Col1887', 'Col1157'}],
       [{'Col1889', 'Col1797', 'Col1159', 'Col1067'}],
       [{'Col1898', 'Col1806', 'Col1714'}],
       [{'Col1169', 'Col1899'}],
       [{'Col1813', 'Col1905', 'Col1721', 'Col1175'}],
       [{'Col1723', 'Col1815', 'Col1907'}],
       [{'Col1816', 'Col1724', 'Col1908'}],
       [{'Col1817', 'Col1909', 'Col1725', 'Col1179'}],
       [{'Col1183', 'Col1913'}],
       [{'Col1918', 'Col1826'}],
       [{'Col1189', 'Col1919'}],
       [{'Col1195', 'Col1925'}],
       [{'Col1199', 'Col1929'}],
       [{'Col1931', 'Col1201'}],
       [{'Col1840', 'Col1748', 'Col1018', 'Col1932', 'Col1110', 'Col1202'}],
       [{'Col1941', 'Col1211'}],
       [{'Col1947', 'Col1217'}],
       [{'Col1223', 'Col1953'}],
       [{'Col1224', 'Col1954'}],
       [{'Col1225', 'Col1955'}],
       [{'Col1957', 'Col1227'}],
       [{'Col1231', 'Col1961'}],
       [{'Col1236', 'Col1966'}],
       [{'Col1967', 'Col1237'}],
       [{'Col1243', 'Col1973'}],
       [{'Col1244', 'Col1974'}],
       [{'Col1245', 'Col1975'}],
       [{'Col1247', 'Col1977'}],
       [{'Col1979', 'Col1249'}],
       [{'Col1796', 'Col974', 'Col1980', 'Col1158', 'Col1888', 'Col1704', 'Col1250', 'Col1066'}],
       [{'Col1261', 'Col1991'}],
       [{'Col1814', 'Col1906', 'Col1722', 'Col1998'}],
       [{'Col1271', 'Col2001'}],
       [{'Col2005', 'Col1275'}],
       [{'Col1281', 'Col2011'}],
       [{'Col1287', 'Col2017'}],
       [{'Col1926', 'Col2018'}],
       [{'Col1291', 'Col2021'}],
       [{'Col1930', 'Col2022'}],
       [{'Col1293', 'Col2023'}],
       [{'Col2024', 'Col1294'}],
       [{'Col1981', 'Col1111', 'Col1749', 'Col1203', 'Col2025', 'Col1295', 'Col1841', 'Col1019', 'Col1251', 'Col1933'}],
       [{'Col987', 'Col1717', 'Col1303', 'Col2033'}],
       [{'Col2043', 'Col1313'}],
       [{'Col2045', 'Col1315'}],
       [{'Col2047', 'Col1317'}],
       [{'Col1319', 'Col2049'}],
       [{'Col2055', 'Col1325'}],
       [{'Col2040', 'Col1736', 'Col2056'}],
       [{'Col1737', 'Col1327', 'Col1007', 'Col1311', 'Col2057', 'Col2041'}],
       [{'Col2059', 'Col1329'}],
       [{'Col1333', 'Col2063'}],
       [{'Col2064', 'Col1752'}],
       [{'Col1753', 'Col1335', 'Col2065'}],
       [{'Col1337', 'Col2067'}],
       [{'Col2069', 'Col1339'}],
       [{'Col1340', 'Col2070'}],
       [{'Col1341', 'Col2071'}],
       [{'Col1343', 'Col2073'}],
       [{'Col1672', 'Col2074'}],
       [{'Col2075', 'Col1345', 'Col1673', 'Col943'}],
       [{'Col2077', 'Col1347'}],
       [{'Col2079', 'Col1349'}],
       [{'Col2080', 'Col1350'}],
       [{'Col1351', 'Col2081'}],
       [{'Col1354', 'Col2084'}],
       [{'Col1355', 'Col2085'}],
       [{'Col1356', 'Col2086'}],
       [{'Col2087', 'Col1357'}],
       [{'Col2089', 'Col1359'}],
       [{'Col1361', 'Col2091'}],
       [{'Col1363', 'Col2093'}],
       [{'Col1367', 'Col2097'}],
       [{'Col2098', 'Col1692', 'Col2082'}],
       [{'Col963', 'Col1369', 'Col1353', 'Col1693', 'Col2099', 'Col2083'}],
       [{'Col1700', 'Col2100'}],
       [{'Col1371', 'Col2101'}],
       [{'Col1375', 'Col2105'}],
       [{'Col1708', 'Col2106'}],
       [{'Col1377', 'Col2107', 'Col1709'}],
       [{'Col1379', 'Col2083', 'Col2109', 'Col1693'}],
       [{'Col1381', 'Col2111'}],
       [{'Col2113', 'Col1383'}],
       [{'Col2115', 'Col1385'}],
       [{'Col1386', 'Col2116'}],
       [{'Col1387', 'Col2117'}],
       [{'Col2118', 'Col1388'}],
       [{'Col1389', 'Col2119'}],
       [{'Col2120', 'Col1390'}],
       [{'Col2121', 'Col1391'}],
       [{'Col1808', 'Col2032', 'Col2122', 'Col1716'}],
       [{'Col1809', 'Col1393', 'Col1079', 'Col2123'}],
       [{'Col2034', 'Col2124'}],
       [{'Col2035', 'Col1395', 'Col2125'}],
       [{'Col1307', 'Col1397', 'Col2127', 'Col2037'}],
       [{'Col1399', 'Col1309', 'Col2129', 'Col2039'}],
       [{'Col1403', 'Col2133'}],
       [{'Col1405', 'Col2135'}],
       [{'Col2137', 'Col1407'}],
       [{'Col1409', 'Col2139'}],
       [{'Col2145', 'Col1415'}],
       [{'Col1828', 'Col2130', 'Col2146'}],
       [{'Col1829', 'Col1401', 'Col1099', 'Col2131', 'Col1417', 'Col2147'}],
       [{'Col1836', 'Col2148', 'Col2058'}],
       [{'Col1419', 'Col2149'}],
       [{'Col1423', 'Col2153'}],
       [{'Col1844', 'Col2154'}],
       [{'Col1845', 'Col2155', 'Col1425'}],
       [{'Col1427', 'Col2157'}],
       [{'Col1429', 'Col2159'}],
       [{'Col2160', 'Col1430'}],
       [{'Col2161', 'Col1431'}],
       [{'Col1433', 'Col2163'}],
       [{'Col1764', 'Col2164'}],
       [{'Col1435', 'Col1765', 'Col1035', 'Col2165'}],
       [{'Col2167', 'Col1437'}],
       [{'Col2168', 'Col2078', 'Col1438'}],
       [{'Col1439', 'Col2169'}],
       [{'Col1440', 'Col2170'}],
       [{'Col1441', 'Col2171'}],
       [{'Col2174', 'Col1444'}],
       [{'Col1445', 'Col2175'}],
       [{'Col1446', 'Col2176'}],
       [{'Col1447', 'Col2177'}],
       [{'Col1449', 'Col2179'}],
       [{'Col1451', 'Col2181'}],
       [{'Col2183', 'Col1453'}],
       [{'Col1456', 'Col2096', 'Col2186'}],
       [{'Col1457', 'Col2187'}],
       [{'Col1784', 'Col2172', 'Col2188'}],
       [{'Col2189', 'Col1443', 'Col1055', 'Col2173', 'Col1459', 'Col1785'}],
       [{'Col1792', 'Col2190'}],
       [{'Col1461', 'Col2191'}],
       [{'Col1465', 'Col2195'}],
       [{'Col1800', 'Col2196'}],
       [{'Col2197', 'Col1467', 'Col1801'}],
       [{'Col2199', 'Col1469'}],
       [{'Col2200', 'Col1470', 'Col2110'}],
       [{'Col1471', 'Col2201'}],
       [{'Col2202', 'Col1472', 'Col2112'}],
       [{'Col2203', 'Col1473'}],
       [{'Col1474', 'Col2114', 'Col2204'}],
       [{'Col1475', 'Col2205'}],
       [{'Col1477', 'Col2207'}],
       [{'Col2208', 'Col1478'}],
       [{'Col2209', 'Col1479'}],
       [{'Col1480', 'Col2210'}],
       [{'Col2211', 'Col1481'}],
       [{'Col2212', 'Col1900'}],
       [{'Col2213', 'Col1901', 'Col1171', 'Col1483'}],
       [{'Col2215', 'Col1485'}],
       [{'Col2036', 'Col2216', 'Col2126'}],
       [{'Col1487', 'Col2217'}],
       [{'Col2218', 'Col2038', 'Col2128'}],
       [{'Col2219', 'Col1489'}],
       [{'Col2132', 'Col2222'}],
       [{'Col1493', 'Col2223'}],
       [{'Col2225', 'Col1495'}],
       [{'Col1497', 'Col2227'}],
       [{'Col2229', 'Col1499'}],
       [{'Col2231', 'Col2051', 'Col1501', 'Col2141'}],
       [{'Col2053', 'Col2233', 'Col1323', 'Col1503', 'Col1413', 'Col2143'}],
       [{'Col2234', 'Col2144'}],
       [{'Col1505', 'Col2235'}],
       [{'Col2236', 'Col1920', 'Col2220'}],
       [{'Col1191', 'Col2237', 'Col1921', 'Col1491', 'Col2221', 'Col1507'}],
       [{'Col2238', 'Col1928'}],
       [{'Col1509', 'Col2239'}],
       [{'Col2152', 'Col2242', 'Col1512'}],
       [{'Col1513', 'Col2243'}],
       [{'Col1936', 'Col2244'}],
       [{'Col1937', 'Col1515', 'Col2245'}],
       [{'Col1517', 'Col2247'}],
       [{'Col2249', 'Col1519'}],
       [{'Col1521', 'Col2251'}],
       [{'Col1523', 'Col2253'}],
       [{'Col2254', 'Col1856'}],
       [{'Col1525', 'Col1857', 'Col2255', 'Col1127'}],
       [{'Col2257', 'Col1527'}],
       [{'Col1529', 'Col2259'}],
       [{'Col1531', 'Col2261'}],
       [{'Col1534', 'Col2264'}],
       [{'Col1535', 'Col2265'}],
       [{'Col1537', 'Col2267'}],
       [{'Col2269', 'Col1539'}],
       [{'Col1541', 'Col2271'}],
       [{'Col2273', 'Col1543'}],
       [{'Col1545', 'Col2185', 'Col1455', 'Col2275'}],
       [{'Col2276', 'Col1546'}],
       [{'Col1547', 'Col2277'}],
       [{'Col2262', 'Col1876', 'Col2278'}],
       [{'Col1147', 'Col2263', 'Col1533', 'Col1877', 'Col2279', 'Col1549'}],
       [{'Col1884', 'Col2280'}],
       [{'Col2281', 'Col1551'}],
       [{'Col2284', 'Col1554', 'Col2194'}],
       [{'Col1555', 'Col2285'}],
       [{'Col2286', 'Col1892'}],
       [{'Col1893', 'Col1557', 'Col2287'}],
       [{'Col1559', 'Col2289'}],
       [{'Col2290', 'Col1560'}],
       [{'Col2291', 'Col1561'}],
       [{'Col1562', 'Col2292'}],
       [{'Col2293', 'Col1563'}],
       [{'Col2294', 'Col1564'}],
       [{'Col2295', 'Col1565'}],
       [{'Col2297', 'Col1567'}],
       [{'Col2298', 'Col1568'}],
       [{'Col2299', 'Col1569'}],
       [{'Col2300', 'Col1570'}],
       [{'Col1571', 'Col2301'}],
       [{'Col1992', 'Col2302'}],
       [{'Col2303', 'Col1263', 'Col1573', 'Col1993'}],
       [{'Col1575', 'Col2305'}],
       [{'Col2307', 'Col1577'}],
       [{'Col2309', 'Col1579'}],
       [{'Col1583', 'Col2313'}],
       [{'Col1585', 'Col2315'}],
       [{'Col2316', 'Col2226', 'Col2136'}],
       [{'Col2317', 'Col1587'}],
       [{'Col1589', 'Col2319'}],
       [{'Col1904', 'Col1720', 'Col2320', 'Col1996', 'Col2140', 'Col2050', 'Col2230', 'Col1812'}],
       [{'Col2321', 'Col1591'}],
       [{'Col2142', 'Col2052', 'Col2322', 'Col2232'}],
       [{'Col2323', 'Col1593'}],
       [{'Col1595', 'Col2325'}],
       [{'Col2012', 'Col2326', 'Col2310'}],
       [{'Col2327', 'Col1581', 'Col2013', 'Col1597', 'Col2311', 'Col1283'}],
       [{'Col2020', 'Col2328'}],
       [{'Col2329', 'Col1599'}],
       [{'Col2060', 'Col2150', 'Col2240', 'Col2330'}],
       [{'Col2151', 'Col2061', 'Col2241', 'Col2331'}],
       [{'Col1602', 'Col2332'}],
       [{'Col1603', 'Col2333'}],
       [{'Col2028', 'Col2334'}],
       [{'Col2029', 'Col2335', 'Col1605'}],
       [{'Col2337', 'Col1607'}],
       [{'Col1609', 'Col2339'}],
       [{'Col2341', 'Col1611'}],
       [{'Col1613', 'Col2343'}],
       [{'Col1948', 'Col2344'}],
       [{'Col1615', 'Col1219', 'Col2345', 'Col1949'}],
       [{'Col1619', 'Col2349'}],
       [{'Col2351', 'Col1621'}],
       [{'Col2354', 'Col1624'}],
       [{'Col1625', 'Col2355'}],
       [{'Col1627', 'Col2357'}],
       [{'Col1629', 'Col2359'}],
       [{'Col2361', 'Col1631'}],
       [{'Col2363', 'Col1633'}],
       [{'Col2364', 'Col2184', 'Col1634', 'Col2274'}],
       [{'Col1635', 'Col2365'}],
       [{'Col1637', 'Col2367'}],
       [{'Col2368', 'Col1968', 'Col2352'}],
       [{'Col1239', 'Col1623', 'Col2369', 'Col2353', 'Col1969', 'Col1639'}],
       [{'Col1641', 'Col2371'}],
       [{'Col2102', 'Col2192', 'Col2372', 'Col2282'}],
       [{'Col2283', 'Col2373'}],
       [{'Col1644', 'Col2374'}],
       [{'Col1645', 'Col2375'}],
       [{'Col2376', 'Col1984'}],
       [{'Col2377', 'Col1985', 'Col1647'}],
       [{'Col1649', 'Col2379'}],
       [{'Col2380', 'Col1650'}],
       [{'Col1651', 'Col2381'}],
       [{'Col2382', 'Col1652'}],
       [{'Col2383', 'Col1653'}],
       [{'Col1655', 'Col2385'}],
       [{'Col1656', 'Col2296', 'Col2386'}],
       [{'Col2387', 'Col1657'}],
       [{'Col1658', 'Col2388'}],
       [{'Col1659', 'Col2389'}],
       [{'Col1660', 'Col2390'}],
       [{'Col1661', 'Col2391'}],
       [{'Col2392', 'Col2393'}],
       [{'Col2394', 'Col576'}],
       [{'Col2395', 'Col917', 'Col922', 'Col2396'}],
       [{'Col2397', 'Col927'}],
       [{'Col238', 'Col316'}],
       [{'Col236', 'Col313', 'Col321'}],
       [{'Col323', 'Col322'}],
       [{'Col181', 'Col378'}],
       [{'Col379', 'Col182'}],
       [{'Col183', 'Col380'}],
       [{'Col184', 'Col381'}],
       [{'Col186', 'Col383'}],
       [{'Col384', 'Col187'}],
       [{'Col385', 'Col188'}],
       [{'Col386', 'Col189'}],
       [{'Col387', 'Col190'}],
       [{'Col191', 'Col388'}],
       [{'Col192', 'Col389'}],
       [{'Col193', 'Col390'}],
       [{'Col391', 'Col194'}],
       [{'Col195', 'Col392'}],
       [{'Col196', 'Col393'}],
       [{'Col198', 'Col395'}],
       [{'Col201', 'Col398'}],
       [{'Col204', 'Col401'}],
       [{'Col402', 'Col205'}],
       [{'Col207', 'Col199', 'Col396', 'Col404'}],
       [{'Col405', 'Col208'}],
       [{'Col209', 'Col406'}],
       [{'Col407', 'Col210'}],
       [{'Col211', 'Col408'}],
       [{'Col212', 'Col409'}],
       [{'Col410', 'Col213'}],
       [{'Col215', 'Col412'}],
       [{'Col413', 'Col216'}],
       [{'Col217', 'Col414'}],
       [{'Col218', 'Col415'}],
       [{'Col416', 'Col219'}],
       [{'Col417', 'Col220'}],
       [{'Col418', 'Col221'}],
       [{'Col222', 'Col419'}],
       [{'Col223', 'Col420'}],
       [{'Col225', 'Col422'}],
       [{'Col426', 'Col229'}],
       [{'Col230', 'Col427'}],
       [{'Col428', 'Col231'}],
       [{'Col232', 'Col429'}],
       [{'Col430', 'Col233'}],
       [{'Col453', 'Col256'}],
       [{'Col467', 'Col270'}],
       [{'Col278', 'Col475'}],
       [{'Col279', 'Col476'}],
       [{'Col477', 'Col280'}],
       [{'Col289', 'Col486'}],
       [{'Col487', 'Col290'}],
       [{'Col488', 'Col291'}],
       [{'Col489', 'Col214', 'Col411', 'Col292'}],
       [{'Col293', 'Col490'}],
       [{'Col491', 'Col294'}],
       [{'Col492', 'Col295'}],
       [{'Col494', 'Col297'}],
       [{'Col298', 'Col495'}],
       [{'Col300', 'Col497'}],
       [{'Col302', 'Col499'}],
       [{'Col500', 'Col303'}],
       [{'Col493', 'Col304', 'Col421', 'Col296', 'Col501', 'Col224'}],
       [{'Col504', 'Col307'}],
       [{'Col505', 'Col308'}],
       [{'Col309', 'Col506'}],
       [{'Col310', 'Col507'}],
       [{'Col311', 'Col508'}],
       [{'Col312', 'Col509'}],
       [{'Col510', 'Col518', 'Col433'}],
       [{'Col520', 'Col519'}],
       [{'Col330', 'Col527'}],
       [{'Col528', 'Col331'}],
       [{'Col529', 'Col332'}],
       [{'Col333', 'Col250', 'Col447', 'Col530'}],
       [{'Col260', 'Col457', 'Col345', 'Col542', 'Col534', 'Col337'}],
       [{'Col547', 'Col350'}],
       [{'Col354', 'Col272', 'Col469', 'Col551'}],
       [{'Col358', 'Col479', 'Col366', 'Col282', 'Col555', 'Col563'}],
       [{'Col370', 'Col567'}],
       [{'Col371', 'Col568'}],
       [{'Col590', 'Col197', 'Col394'}],
       [{'Col397', 'Col593'}],
       [{'Col399', 'Col595', 'Col202'}],
       [{'Col596', 'Col400', 'Col203'}],
       [{'Col599', 'Col403', 'Col206'}],
       [{'Col600', 'Col592'}],
       [{'Col607', 'Col639'}],
       [{'Col617', 'Col651', 'Col643'}],
       [{'Col631', 'Col663'}],
       [{'Col660', 'Col668', 'Col629'}],
       [{'Col670', 'Col669'}],
       [{'Col728', 'Col708'}],
       [{'Col740', 'Col718', 'Col732'}],
       [{'Col749', 'Col686'}],
       [{'Col696', 'Col753', 'Col761'}],
       [{'Col4', 'Col7', 'Col6', 'Col8'}],
       [{'Col797', 'Col817'}],
       [{'Col829', 'Col807', 'Col821'}],
       [{'Col838', 'Col775'}],
       [{'Col785', 'Col842', 'Col850'}],
       [{'Col866', 'Col867'}],
       [{'Col897', 'Col899', 'Col888', 'Col890'}],
       [{'Col892', 'Col901'}],
       [{'Col893', 'Col902'}],
       [{'Col905', 'Col896', 'Col895', 'Col887', 'Col904'}],
       [{'Col906', 'Col908'}],
       [{'Col900', 'Col909', 'Col907', 'Col898', 'Col889', 'Col891'}],
       [{'Col169', 'Col921', 'Col168', 'Col916'}],
       [{'Col919', 'Col924'}],
       [{'Col575', 'Col170', 'Col926'}],
       [{'Col918', 'Col923', 'Col928'}],
       [{'Col931', 'Col932'}]], dtype=object)

In [18]:
correlated_features = []
for sets in correlated_array:
    element_list = list(sets[0])
    for idx, el in enumerate(element_list):
        if idx is not 0:
            correlated_features.append(el)

print (correlated_features)

['Col1038', 'Col1042', 'Col1074', 'Col983', 'Col94', 'Col988', 'Col989', 'Col996', 'Col1089', 'Col1090', 'Col1168', 'Col1076', 'Col1177', 'Col1085', 'Col994', 'Col1178', 'Col1096', 'Col1268', 'Col1176', 'Col992', 'Col1104', 'Col1196', 'Col121', 'Col1200', 'Col123', 'Col1326', 'Col1310', 'Col133', 'Col1334', 'Col1344', 'Col962', 'Col1352', 'Col136', 'Col1370', 'Col978', 'Col1078', 'Col986', 'Col1392', 'Col1394', 'Col1416', 'Col1098', 'Col1328', 'Col1106', 'Col1424', 'Col1428', 'Col1432', 'Col1034', 'Col1442', 'Col1458', 'Col1460', 'Col1070', 'Col1482', 'Col1396', 'Col1486', 'Col1308', 'Col1488', 'Col1504', 'Col1506', 'Col1490', 'Col1508', 'Col1206', 'Col1430', 'Col1126', 'Col1146', 'Col1532', 'Col1154', 'Col1162', 'Col1262', 'Col1492', 'Col1406', 'Col1496', 'Col990', 'Col1174', 'Col1590', 'Col1500', 'Col1266', 'Col1320', 'Col1082', 'Col1322', 'Col1502', 'Col1412', 'Col1282', 'Col1596', 'Col1598', 'Col1510', 'Col1330', 'Col1600', 'Col1511', 'Col1331', 'Col1421', 'Col1604', 'Col161', 'Col1614', 'Col1622', 'Col1238', 'Col1642', 'Col1372', 'Col1462', 'Col1553', 'Col1254', 'Col165', 'Col935', 'Col1671', 'Col1677', 'Col949', 'Col1685', 'Col1691', 'Col967', 'Col1698', 'Col1699', 'Col1701', 'Col973', 'Col1705', 'Col1729', 'Col173', 'Col1731', 'Col1005', 'Col1741', 'Col1743', 'Col1745', 'Col1757', 'Col1032', 'Col1670', 'Col1033', 'Col1768', 'Col1039', 'Col1678', 'Col1770', 'Col1040', 'Col1041', 'Col1680', 'Col1043', 'Col951', 'Col1681', 'Col1047', 'Col1782', 'Col1690', 'Col1783', 'Col1059', 'Col1060', 'Col1791', 'Col1793', 'Col1065', 'Col1804', 'Col1805', 'Col1807', 'Col985', 'Col1715', 'Col1718', 'Col1719', 'Col1726', 'Col1727', 'Col1091', 'Col1823', 'Col1097', 'Col1103', 'Col1837', 'Col1839', 'Col1747', 'Col1119', 'Col1124', 'Col1125', 'Col1131', 'Col1862', 'Col1863', 'Col1865', 'Col1869', 'Col1144', 'Col1875', 'Col1881', 'Col1152', 'Col1153', 'Col1155', 'Col1157', 'Col1797', 'Col1159', 'Col1067', 'Col1806', 'Col1714', 'Col1899', 'Col1905', 'Col1721', 'Col1175', 'Col1815', 'Col1907', 'Col1724', 'Col1908', 'Col1909', 'Col1725', 'Col1179', 'Col1913', 'Col1826', 'Col1919', 'Col1925', 'Col1929', 'Col1201', 'Col1748', 'Col1018', 'Col1932', 'Col1110', 'Col1202', 'Col1211', 'Col1217', 'Col1953', 'Col1954', 'Col1955', 'Col1227', 'Col1961', 'Col1966', 'Col1237', 'Col1973', 'Col1974', 'Col1975', 'Col1977', 'Col1249', 'Col974', 'Col1980', 'Col1158', 'Col1888', 'Col1704', 'Col1250', 'Col1066', 'Col1991', 'Col1906', 'Col1722', 'Col1998', 'Col2001', 'Col1275', 'Col2011', 'Col2017', 'Col2018', 'Col2021', 'Col2022', 'Col2023', 'Col1294', 'Col1111', 'Col1749', 'Col1203', 'Col2025', 'Col1295', 'Col1841', 'Col1019', 'Col1251', 'Col1933', 'Col1717', 'Col1303', 'Col2033', 'Col1313', 'Col1315', 'Col1317', 'Col2049', 'Col1325', 'Col1736', 'Col2056', 'Col1327', 'Col1007', 'Col1311', 'Col2057', 'Col2041', 'Col1329', 'Col2063', 'Col1752', 'Col1335', 'Col2065', 'Col2067', 'Col1339', 'Col2070', 'Col2071', 'Col2073', 'Col2074', 'Col1345', 'Col1673', 'Col943', 'Col1347', 'Col1349', 'Col1350', 'Col2081', 'Col2084', 'Col2085', 'Col2086', 'Col1357', 'Col1359', 'Col2091', 'Col2093', 'Col2097', 'Col1692', 'Col2082', 'Col1369', 'Col1353', 'Col1693', 'Col2099', 'Col2083', 'Col2100', 'Col2101', 'Col2105', 'Col2106', 'Col2107', 'Col1709', 'Col2083', 'Col2109', 'Col1693', 'Col2111', 'Col1383', 'Col1385', 'Col2116', 'Col2117', 'Col1388', 'Col2119', 'Col1390', 'Col1391', 'Col2032', 'Col2122', 'Col1716', 'Col1393', 'Col1079', 'Col2123', 'Col2124', 'Col1395', 'Col2125', 'Col1397', 'Col2127', 'Col2037', 'Col1309', 'Col2129', 'Col2039', 'Col2133', 'Col2135', 'Col1407', 'Col2139', 'Col1415', 'Col2130', 'Col2146', 'Col1401', 'Col1099', 'Col2131', 'Col1417', 'Col2147', 'Col2148', 'Col2058', 'Col2149', 'Col2153', 'Col2154', 'Col2155', 'Col1425', 'Col2157', 'Col2159', 'Col1430', 'Col1431', 'Col2163', 'Col2164', 'Col1765', 'Col1035', 'Col2165', 'Col1437', 'Col2078', 'Col1438', 'Col2169', 'Col2170', 'Col2171', 'Col1444', 'Col2175', 'Col2176', 'Col2177', 'Col2179', 'Col2181', 'Col1453', 'Col2096', 'Col2186', 'Col2187', 'Col2172', 'Col2188', 'Col1443', 'Col1055', 'Col2173', 'Col1459', 'Col1785', 'Col2190', 'Col2191', 'Col2195', 'Col2196', 'Col1467', 'Col1801', 'Col1469', 'Col1470', 'Col2110', 'Col2201', 'Col1472', 'Col2112', 'Col1473', 'Col2114', 'Col2204', 'Col2205', 'Col2207', 'Col1478', 'Col1479', 'Col2210', 'Col1481', 'Col1900', 'Col1901', 'Col1171', 'Col1483', 'Col1485', 'Col2216', 'Col2126', 'Col2217', 'Col2038', 'Col2128', 'Col1489', 'Col2222', 'Col2223', 'Col1495', 'Col2227', 'Col1499', 'Col2051', 'Col1501', 'Col2141', 'Col2233', 'Col1323', 'Col1503', 'Col1413', 'Col2143', 'Col2144', 'Col2235', 'Col1920', 'Col2220', 'Col2237', 'Col1921', 'Col1491', 'Col2221', 'Col1507', 'Col1928', 'Col2239', 'Col2242', 'Col1512', 'Col2243', 'Col2244', 'Col1515', 'Col2245', 'Col2247', 'Col1519', 'Col2251', 'Col2253', 'Col1856', 'Col1857', 'Col2255', 'Col1127', 'Col1527', 'Col2259', 'Col2261', 'Col2264', 'Col2265', 'Col2267', 'Col1539', 'Col2271', 'Col1543', 'Col2185', 'Col1455', 'Col2275', 'Col1546', 'Col2277', 'Col1876', 'Col2278', 'Col2263', 'Col1533', 'Col1877', 'Col2279', 'Col1549', 'Col2280', 'Col1551', 'Col1554', 'Col2194', 'Col2285', 'Col1892', 'Col1557', 'Col2287', 'Col2289', 'Col1560', 'Col1561', 'Col2292', 'Col1563', 'Col1564', 'Col1565', 'Col1567', 'Col1568', 'Col1569', 'Col1570', 'Col2301', 'Col2302', 'Col1263', 'Col1573', 'Col1993', 'Col2305', 'Col1577', 'Col1579', 'Col2313', 'Col2315', 'Col2226', 'Col2136', 'Col1587', 'Col2319', 'Col1720', 'Col2320', 'Col1996', 'Col2140', 'Col2050', 'Col2230', 'Col1812', 'Col1591', 'Col2052', 'Col2322', 'Col2232', 'Col1593', 'Col2325', 'Col2326', 'Col2310', 'Col1581', 'Col2013', 'Col1597', 'Col2311', 'Col1283', 'Col2328', 'Col1599', 'Col2150', 'Col2240', 'Col2330', 'Col2061', 'Col2241', 'Col2331', 'Col2332', 'Col2333', 'Col2334', 'Col2335', 'Col1605', 'Col1607', 'Col2339', 'Col1611', 'Col2343', 'Col2344', 'Col1219', 'Col2345', 'Col1949', 'Col2349', 'Col1621', 'Col1624', 'Col2355', 'Col2357', 'Col2359', 'Col1631', 'Col1633', 'Col2184', 'Col1634', 'Col2274', 'Col2365', 'Col2367', 'Col1968', 'Col2352', 'Col1623', 'Col2369', 'Col2353', 'Col1969', 'Col1639', 'Col2371', 'Col2192', 'Col2372', 'Col2282', 'Col2373', 'Col2374', 'Col2375', 'Col1984', 'Col1985', 'Col1647', 'Col2379', 'Col1650', 'Col2381', 'Col1652', 'Col1653', 'Col2385', 'Col2296', 'Col2386', 'Col1657', 'Col2388', 'Col2389', 'Col2390', 'Col2391', 'Col2393', 'Col576', 'Col917', 'Col922', 'Col2396', 'Col927', 'Col316', 'Col313', 'Col321', 'Col322', 'Col378', 'Col182', 'Col380', 'Col381', 'Col383', 'Col187', 'Col188', 'Col189', 'Col190', 'Col388', 'Col389', 'Col390', 'Col194', 'Col392', 'Col393', 'Col395', 'Col398', 'Col401', 'Col205', 'Col199', 'Col396', 'Col404', 'Col208', 'Col406', 'Col210', 'Col408', 'Col409', 'Col213', 'Col412', 'Col216', 'Col414', 'Col415', 'Col219', 'Col220', 'Col221', 'Col419', 'Col420', 'Col422', 'Col229', 'Col427', 'Col231', 'Col429', 'Col233', 'Col256', 'Col270', 'Col475', 'Col476', 'Col280', 'Col486', 'Col290', 'Col291', 'Col214', 'Col411', 'Col292', 'Col490', 'Col294', 'Col295', 'Col297', 'Col495', 'Col497', 'Col499', 'Col303', 'Col304', 'Col421', 'Col296', 'Col501', 'Col224', 'Col307', 'Col308', 'Col506', 'Col507', 'Col508', 'Col509', 'Col518', 'Col433', 'Col519', 'Col527', 'Col331', 'Col332', 'Col250', 'Col447', 'Col530', 'Col457', 'Col345', 'Col542', 'Col534', 'Col337', 'Col350', 'Col272', 'Col469', 'Col551', 'Col479', 'Col366', 'Col282', 'Col555', 'Col563', 'Col567', 'Col568', 'Col197', 'Col394', 'Col593', 'Col595', 'Col202', 'Col400', 'Col203', 'Col403', 'Col206', 'Col592', 'Col639', 'Col651', 'Col643', 'Col663', 'Col668', 'Col629', 'Col669', 'Col708', 'Col718', 'Col732', 'Col686', 'Col753', 'Col761', 'Col7', 'Col6', 'Col8', 'Col817', 'Col807', 'Col821', 'Col775', 'Col842', 'Col850', 'Col867', 'Col899', 'Col888', 'Col890', 'Col901', 'Col902', 'Col896', 'Col895', 'Col887', 'Col904', 'Col908', 'Col909', 'Col907', 'Col898', 'Col889', 'Col891', 'Col921', 'Col168', 'Col916', 'Col924', 'Col170', 'Col926', 'Col923', 'Col928', 'Col932']

In [0]:
non_cor_train_df = tdf.drop(correlated_features, axis=1 )

In [20]:
non_cor_train_df.shape

(17521, 1369)

In [48]:
non_cor_train_df.head()

        Col1  Col2          Col3  ...  Col2394  Col2395  Col2397
0    RIGHGSN     1  1.086711e+04  ...     68.0     22.0      7.0
1  RIMHI5ZGP     0  2.584312e+05  ...     38.0     12.0     11.0
2  RIHOG1SZU     0  1.459355e+07  ...    310.0     21.0     16.0
3  RIHOLMQWU     0  6.727043e+05  ...    644.0    951.0    743.0
4  RIHO584ET     0 -1.218742e+06  ...   1211.0   2205.0   1831.0

[5 rows x 1369 columns]

In [0]:
import seaborn as sns; sns.set(style="ticks", color_codes=True)
g = sns.pairplot(non_cor_train_df)

In [22]:
unique_values_list = non_cor_train_df.nunique()
unique_values_list=unique_values_list.reset_index()
unique_values_list.columns = ['Col',"Count"]
unique_values_list['Col'].count()

1369

In [0]:
continious =  unique_values_list[unique_values_list['Count'] > 990]
cont_cols = continious['Col']
cont_df = non_cor_train_df[cont_cols]
cat_df = non_cor_train_df.drop(cont_cols,axis=1)

In [24]:
wrongly_classified =['Col2394','Col2392' ,'Col2395','Col2397']
for col in wrongly_classified:
  cont_df[col] = non_cor_train_df[col]
  cat_df.drop(col,axis=1,inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
cat_df = cat_df.drop('Col2', axis=1)

In [0]:
def get_missing_count(df):
  missing_df = df.isnull().sum(axis=0).reset_index()
  missing_df.columns = ['column_name', 'missing_count']
  missing_df = missing_df.loc[missing_df['missing_count']>0]
  return missing_df

1367

In [0]:
def get_non_missing_columns(df):
  missing_df = df.isnull().sum(axis=0).reset_index()
  missing_df.columns = ['column_name', 'missing_count']
  missing_df = missing_df.loc[missing_df['missing_count']==0]
  return missing_df

In [0]:
cat_non_miss_columns =list(get_non_missing_columns(cat_df)['column_name'])
cont_non_miss_columns =list(get_non_missing_columns(cont_df)['column_name'])

In [49]:
final_cols = cat_non_miss_columns+cont_non_miss_columns

training_df = non_cor_train_df[final_cols]
training_df['Col2'] = non_cor_train_df['Col2']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [50]:
training_df.head()

   Col29  Col30  Col31  Col32  ...        Col598        Col599        Col600  Col2
0      1      1      1      1  ...    5000.00000  5.960633e+04  5.960633e+04     1
1      1      1      3      4  ...       0.00000  1.862743e+05  1.010149e+06     0
2      3      3      4     12  ...   41666.66667  6.674774e+06  2.315162e+07     0
3      2      2      2     24  ...       0.00000  6.197758e+05  6.803684e+06     0
4      4      3      4     68  ...  201666.66670  0.000000e+00  5.339928e+07     0

[5 rows x 1014 columns]

In [0]:
enc=OneHotEncoder(sparse=False)

In [0]:
for col in cat_non_miss_columns:

       data=X_train[[col]].append(X_test[[col]])
       enc.fit(data)

       temp = enc.transform(X_train[[col]])

       temp=pd.DataFrame(temp,columns=[(col+"_"+str(i)) for i in data[col]
            .value_counts().index])


       temp=temp.set_index(X_train.index.values)
       
       X_train_1=pd.concat([X_train_1,temp],axis=1)

       temp = enc.transform(X_test[[col]])
       
       temp=pd.DataFrame(temp,columns=[(col+"_"+str(i)) for i in data[col]
            .value_counts().index])

       temp=temp.set_index(X_test.index.values)

       X_test_1=pd.concat([X_test_1,temp],axis=1)

column_name      65
missing_count    65
dtype: int64

In [0]:

get_missing_count(cont_df).count()

column_name      290
missing_count    290
dtype: int64