<a href="https://colab.research.google.com/github/trailblazerakash/MachineLearning/blob/master/hdfc/model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np
%matplotlib inline

from itertools import chain
from sklearn import preprocessing, ensemble

In [0]:

train_df = pd.read_csv('/content/drive/My Drive/HDFC/d407ebe0db9a11e9/DataSet/Train.csv')
train_df.head()

In [0]:
df_dtypes = pd.DataFrame(train_df.dtypes,columns=['dtypes'])
df_dtypes['first_value'] = train_df.loc[0].values

In [0]:
df_dtypes['Null_Count'] = train_df[train_df.columns].isnull().sum()

In [14]:
df_dtypes.head()

       dtypes first_value  Null_Count
Col1   object     RIGHGSN           0
Col2    int64           1           0
Col3  float64     10867.1           0
Col4  float64     8648.34           0
Col5  float64     15766.2           0

In [0]:
print (df.isna())

In [0]:
df.isna().mean()

In [0]:
tdf = train_df.loc[:, train_df.isna().mean() < .25]

In [0]:
tdf.shape

(17521, 2115)

In [0]:
#NOT WORKING PROPERLY

def get_redundant_pairs(df):
    '''Get diagonal and lower triangular pairs of correlation matrix'''
    pairs_to_drop = set()
    cols = df.columns
    for i in range(0, df.shape[1]):
        for j in range(0, i+1):
            pairs_to_drop.add((cols[i], cols[j]))
    return pairs_to_drop

def get_top_abs_correlations(df, n=5):
    au_corr = df.corr().abs().unstack()
    labels_to_drop = get_redundant_pairs(df)
    au_corr = au_corr.drop(labels=labels_to_drop).sort_values(ascending=False)
    return au_corr[0:n]

In [0]:

print("Top Absolute Correlations")
print(get_top_abs_correlations(tdf, 100))

In [0]:
dtype_df = tdf.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df.groupby("Column Type").aggregate('count').reset_index()

  Column Type  Count
0       int64   1548
1     float64    566
2      object      1

In [15]:
dtype_df = tdf.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df.groupby("Column Type").aggregate('count').reset_index()

  Column Type  Count
0       int64   1548
1     float64    566
2      object      1

In [16]:
dtype_df.ix[:10,:]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

    Count Column Type
0    Col1      object
1    Col2       int64
2    Col3     float64
3    Col4     float64
4    Col5     float64
5    Col6     float64
6    Col7     float64
7    Col8     float64
8    Col9     float64
9   Col10     float64
10  Col11     float64

In [18]:
unique_values_dict = {}
for col in tdf.columns:
    if col not in ["Col1","Col2"]:
        unique_value = str(np.sort(tdf[col].unique()).tolist())
        tlist = unique_values_dict.get(unique_value, [])
        tlist.append(col)
        unique_values_dict[unique_value] = tlist[:]
for unique_val, columns in unique_values_dict.items():
    print("Columns containing the unique values : ",unique_val)
    print(columns)
    print("--------------------------------------------------")

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [0]:
correlation_threshold = 0.99 #
train_integer = tdf.drop(["Col1","Col2"],axis=1)
cor = train_integer.corr()

In [0]:

cor.loc[:,:] =  np.tril(cor, k=-1)
cor = cor.stack()
correlated = cor[cor > correlation_threshold].reset_index().loc[:,['level_0','level_1']]
correlated = correlated.query('level_0 not in level_1')
correlated_array =  correlated.groupby('level_0').agg(lambda x: set(chain(x.level_0,x.level_1))).values
correlated_array

In [0]:
correlated_features = []
for sets in correlated_array:
    element_list = list(sets[0])
    for idx, el in enumerate(element_list):
        if idx is not 0:
            correlated_features.append(el)

print (correlated_features)

In [0]:
non_cor_train_df = tdf.drop(correlated_features, axis=1 )

In [28]:
non_cor_train_df.shape

(17521, 1367)

In [29]:
non_cor_train_df.head()

        Col1  Col2          Col3  ...  Col2394  Col2395  Col2397
0    RIGHGSN     1  1.086711e+04  ...     68.0     22.0      7.0
1  RIMHI5ZGP     0  2.584312e+05  ...     38.0     12.0     11.0
2  RIHOG1SZU     0  1.459355e+07  ...    310.0     21.0     16.0
3  RIHOLMQWU     0  6.727043e+05  ...    644.0    951.0    743.0
4  RIHO584ET     0 -1.218742e+06  ...   1211.0   2205.0   1831.0

[5 rows x 1367 columns]

In [0]:
import seaborn as sns; sns.set(style="ticks", color_codes=True)
g = sns.pairplot(non_cor_train_df)

In [0]:
unique_values_list = non_cor_train_df.nunique()

In [0]:
unique_values_list=unique_values_list.reset_index()

In [0]:
unique_values_list.columns = ['Col',"Count"]

In [91]:
unique_values_list['Col'].count()

1367

In [0]:
continious =  unique_values_list[unique_values_list['Count'] > 990]

In [0]:
cont_cols = continious['Col']

In [0]:
cont_df = non_cor_train_df[cont_cols]
cat_df = non_cor_train_df.drop(cont_cols,axis=1)

In [121]:
wrongly_classified =['Col2394','Col2392' ,'Col2395','Col2397']
for col in wrongly_classified:
  cont_df[col] = non_cor_train_df[col]
  cat_df.drop(col,axis=1,inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
#dropping traget
cat_df = cat_df.drop('Col2', axis=1)

In [0]:
def get_missing_count(df):
  missing_df = df.isnull().sum(axis=0).reset_index()
  missing_df.columns = ['column_name', 'missing_count']
  missing_df = missing_df.loc[missing_df['missing_count']>0]
  return missing_df

In [134]:
get_missing_count(cat_df).count()

column_name      65
missing_count    65
dtype: int64

In [135]:

get_missing_count(cont_df).count()

column_name      290
missing_count    290
dtype: int64